/* ---------------------- FONTS ------------------------------*/
/*font-family: 'Montserrat', sans-serif;*/
@font-face {
    font-family: "BebasNeueBold";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/BebasNeueBold.ttf"); }
$BebasNeueBold: "BebasNeueBold", sans-serif;

@font-face {
    font-family: "MuseoSansLight";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/MuseoSansLight.ttf"); }
$MuseoSansLight: "MuseoSansLight", sans-serif;
/*************************************************************/