@import "fonts";
@import "mixins";

$mobileWidth: 768px;
$transitionTime: 0.4s;
$yellowColor: #f2c58b;
$blueDarkColor: #2b2f32;

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #fefefe;
}

.container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 0;

    @include mediaMax($mobileWidth) {
        width: 90%;
    }
}

.clearfix::after, .container::after {
    content: "";
    display: table;
    clear: both;
}

.bg-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    transition: all 1s;

    .dark-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(60, 60, 60, 0.5);
        z-index: 2; }
}

header {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: #282e3f;

    .logo-cont {
        display: inline-block;
        vertical-align: top;
        width: 120px;
        text-align: left;

        a {
            display: inline-block;
            img {
                padding: 10px 0 2px 0;
            }
        }
    }

    .menu-cont, .menu-mob-btn-cont {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 120px);
        text-align: right;
    }

    .menu-mob-btn-cont {
        display: none;
        .menu-mob-btn {
            display: inline-block;
            width: 50px;
            margin: 35px 10px 31px 10px;
            cursor: pointer;

            div {
                width: 100%;
                height: 4px;
                background: #fff;
                margin-bottom: 10px;
                transition: all 0.4s ease-out, opacity 0.2s;
            }

            .first-line, .second-line, .third-line {

            }
        }
    }

    .menu-cont {
        .site-nav {
            display: block;
            width: 100%;

            .nav-list {
                padding: 0;
                li {
                    display: inline-block;

                    a {
                        font-size: 30px;
                        font-family: $BebasNeueBold;
                        color: rgb(255, 255, 255);
                        text-transform: uppercase;
                        line-height: 1.2;
                        text-align: center;
                        text-decoration: none;

                        display: inline-block;
                        padding: 37px 25px;

                        @include transition($transitionTime);
                    }
                    a:hover, .active {
                        color: $yellowColor;
                    }
                }
            }

        }
    }

    @include mediaMax($mobileWidth) {
        .menu-cont {
            display: block;
            width: 100%;
            .site-nav {
                display: none;
                height: 100vh;
                //display: block;
                .nav-list {
                    li {
                        display: block;
                        a {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .menu-mob-btn-cont {
            display: inline-block;
        }
    }
}

.section-header {
    font-size: 60px;
    font-family: $BebasNeueBold;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;

    margin: 0;
    padding: 10vh 0 5vh 0;

    @include transition($transitionTime);

    @include mediaMax(1600px) {
        font-size: 48px;
    }
    @include mediaMax(1200px) {
        font-size: 42px;
    }
    @include mediaMax($mobileWidth) {
        font-size: 30px;
    }
}

.callback-btn {
    display: block;
    margin: 20px auto;
    padding: 20px 5px;
    width: 300px;
    max-width: 95%;

    font-size: 30px;
    font-family: $BebasNeueBold;

    color: $blueDarkColor;
    background-color: $yellowColor;

    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;

    @include transition($transitionTime);

    @include mediaMax($mobileWidth) {
        font-size: 18px;
        padding: 10px 5px;
    }
}
.callback-btn:hover {
    color: #fff;
    background-color: #aeaeae;
}

// start of top-section
#top-section {
    position: relative;
    padding-top: 111px;

    .top-bg-container {
        height: calc(100vh - 111px);

        background-position: center top;
        background-attachment: fixed;
        background-image: url("../images/slide1.png");

        .container {
            max-width: 1000px;
            height: 100%;
        }

        .section-header {
            color: #fff;
            text-align: left;
        }

        .info-container {
            font-size: 0;

            .left-cont, .right-cont {
                display: inline-block;
                vertical-align: top;
            }
            .left-cont {
                width: calc(100% - 350px);
                text-align: left;
                padding-right: 20px;
            }

            .right-cont {
                width: 350px;
                text-align: right;

                @include mediaMax($mobileWidth) {
                    display: none;
                }
            }

            @include mediaMax($mobileWidth) {
                .left-cont, .right-cont {
                    width: 100%;
                }
                .right-cont {
                    display: none;
                }
            }
        }

        .registration-slider {
            .item {
                .registration-title {
                    font-size: 48px;
                    font-family: $BebasNeueBold;
                    color: rgb(255, 255, 255);
                    text-transform: uppercase;
                    line-height: 1.2;
                    text-align: left;
                }
                .registration-text {
                    font-size: 18px;
                    font-family: $MuseoSansLight;
                    color: rgb(255, 255, 255);
                    line-height: 1.2;
                    text-align: left;
                }
            }
        }

        .time-slider-cont {
            position: absolute;
            bottom: 5vh;
            width: 100%;

            .arrow-left-btn, .arrow-right-btn {
                display: inline-block;
                vertical-align: top;
                cursor: pointer;
            }

            .time-slider {
                display: inline-block;
                width: 200px;
                margin: auto;

                .item {
                    p {
                        margin: 20px 0;
                    }
                    p:first-child {
                        margin-top: 0;
                    }
                    .time {
                        font-size: 52px;
                        font-family: $BebasNeueBold;
                        color: rgb(255, 255, 255);
                        line-height: 1.2;
                        text-align: center;

                        @include mediaMax($mobileWidth) {
                            font-size: 24px;
                        }
                    }
                    .location {
                        font-size: 16px;
                        font-family: $MuseoSansLight;
                        color: rgb(255, 255, 255);
                        text-transform: uppercase;
                        line-height: 1.2;
                        text-align: center;

                        @include mediaMax($mobileWidth) {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

    }
}
// end of top-section

//start of advantages-section
#advantages-section {
    .advantages-bg-container {
        background-position: left top;
        background-image: url("../images/slide2.png");
        min-height: 100vh;
        height: 100%;

        .right-cont {
            margin-left: 50%;

            @include mediaMax($mobileWidth) {
                margin-left: 0;
            }
        }

        .section-header {
            color: #fff;
            text-align: left;
            padding: 10vh 0 0 0;
        }

        .advantage-item {
            .advantage-title {
                margin: 20px 0;
                font-size: 30px;
                font-family: $BebasNeueBold;
                color: #fff;
                line-height: 1.2;
                text-align: left;
            }
            .advantage-text {
                margin: 10px 0;
                font-size: 24px;
                font-family: $MuseoSansLight;
                color: #fff;
                line-height: 1.2;
                text-align: left;
            }
        }
    }
}
// end of advantages-section

// start of tarif-section
#tarif-section {
    .section-header {
        color: #000;
    }

    .tarif-title {
        font-size: 20px;
        font-family: $MuseoSansLight;
        color: rgba(0, 0, 0, 0.702);
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
    }

    .tarif-items-cont {
        font-size: 0;
        .tarif-item-cont {
            display: inline-block;
            padding: 0 25px;
            width: calc(100% / 3);

            @include mediaMax(1200px) {
                width: 50%;
            }
            @include mediaMax($mobileWidth) {
                width: 100%;
                padding: 0 5px;
            }

            .tarif-list {
                width: 100%;
                padding: 20px 0;
                li {
                    display: block;
                    height: 50px;
                    margin: 1px 0;
                    padding: 0 20px;

                    list-style: none;
                    background-color: #f1f1f1;

                    font-size: 12px;
                    font-family: $MuseoSansBlack;
                    color: rgb(0, 0, 0);
                    text-transform: uppercase;
                    line-height: 1.2;
                }
            }
        }
    }
}
// end of tarif-section

// start of services-section
#services-section {
    padding-bottom: 50px;

    .container {
        max-width: 1000px;
    }
    .section-header {
        color: #000;
    }
    .services-items-cont {
        .services-item {
            display: inline-block;
            float: left;
            width: 25%;
            padding: 10px;

            @include mediaMax(1200px) {
                width: 50%;
            }
            @include mediaMax($mobileWidth) {
                width: 100%;
            }

            .service-icon {
                img {
                    width: 100%;
                    max-width: 177px;
                }
            }
            .icon-text {
                font-size: 24px;
                font-family: $BebasNeueBold;
                color: rgb(40, 46, 63);
                text-transform: uppercase;
                line-height: 1.2;

                @include mediaMax($mobileWidth) {
                    font-size: 16px;
                }
            }
        }
    }
}
// end of services-section

// start of achiements-section
#achiements-section {
    background-color: $blueDarkColor;
    padding: 80px 0;
    .container {
        max-width: 1000px;
    }

    .achiements-items-cont {
        text-align: left;
        .achiement-item {
            display: inline-block;
            vertical-align: top;
            width: 20%;
            padding: 0 10px;

            @include mediaMax(1200px) {
                width: calc(100% / 3);
            }
            @include mediaMax($mobileWidth) {
                width: 50%;
            }

            .achiement-counter {
                margin: 10px;
                font-size: 80px;
                font-family: $BebasNeueBold;
                color: #fff;
                font-weight: bold;
                text-transform: uppercase;
                line-height: 1.2;
                text-align: center;

                @include mediaMax(1400px) {
                    font-size: 70px;
                }
                @include mediaMax(1200px) {
                    font-size: 60px;
                }
                @include mediaMax($mobileWidth) {
                    font-size: 48px;
                }
            }
            .achiement-text {
                margin: 10px;
                font-size: 16px;
                font-family: $MuseoSansLight;
                color: rgb(255, 255, 255);
                text-transform: uppercase;
                line-height: 1.2;
                text-align: center;

                @include mediaMax($mobileWidth) {
                    text-transform: lowercase;
                }
            }

        }
    }
}
// end of achiements-section

