/* ---------------------- FONTS ------------------------------*/
@font-face {
  font-family: "BebasNeueBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BebasNeueBold.otf"); }

@font-face {
  font-family: "BebasNeueRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BebasNeueRegular.otf"); }

@font-face {
  font-family: "MuseoSansCyrl300";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MuseoSansCyrl 300.otf"); }

@font-face {
  font-family: "MuseoSansCyrl900";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MuseoSansCyrl 900.otf"); }

/*************************************************************/
@media all and (min-width: 1400px) {
  .container {
    width: 1300px; } }

* {
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #fff; }

.dark-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(60, 60, 60, 0.5);
  z-index: 2; }

.gl-yellow-btn, .gl-transparent-btn {
  display: block;
  margin: 15px auto;
  padding: 15px 10px;
  width: 320px;
  max-width: 90%;
  font-size: 36px;
  font-family: "BebasNeueBold", sans-serif;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  transition: all 0.4s; }
  @media all and (max-width: 768px) {
    .gl-yellow-btn, .gl-transparent-btn {
      font-size: 26px; } }
  @media all and (max-height: 600px) {
    .gl-yellow-btn, .gl-transparent-btn {
      padding: 10px; } }
  .gl-yellow-btn span, .gl-transparent-btn span {
    display: inline-block; }

.gl-yellow-btn {
  color: black;
  background-color: #f4bd00; }

.gl-yellow-btn:hover {
  color: #f4bd00;
  background-color: black; }

.gl-transparent-btn {
  color: #fff;
  background-color: transparent;
  border: 2px solid #f4bd00; }

.gl-transparent-btn:hover {
  color: #f4bd00; }

.skew-left {
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg); }

.skew-right {
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg); }

.rotate-right {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg); }

.rotate-left {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg); }

.icon {
  display: inline-block; }

.section-header {
  margin: 20px 0;
  font-size: 72px;
  font-family: "BebasNeueBold", sans-serif;
  color: black;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center; }
  @media all and (max-width: 1400px) {
    .section-header {
      font-size: 60px; } }
  @media all and (max-width: 1200px) {
    .section-header {
      font-size: 54px; } }
  @media all and (max-width: 768px) {
    .section-header {
      font-size: 48px; } }

.img-cont {
  text-align: center; }
  .img-cont img {
    max-width: 100%; }

.logo-cont {
  text-align: left; }
  .logo-cont a {
    display: inline-block;
    text-decoration: none; }
    .logo-cont a img {
      width: 158px; }

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.85); }
  header img {
    width: 158px; }

footer {
  padding: 15px 0;
  background-color: #000; }
  footer .footer-col {
    text-align: left; }
    @media all and (max-width: 1200px) {
      footer .footer-col {
        text-align: center; }
        footer .footer-col .logo-cont {
          text-align: center; } }
    footer .footer-col .col-name {
      font-size: 30px;
      font-family: "BebasNeueBold", sans-serif;
      color: white;
      line-height: 1.2; }
      @media all and (max-width: 768px) {
        footer .footer-col .col-name {
          font-size: 40px; } }
    footer .footer-col .contact-info {
      padding-bottom: 25px; }
      footer .footer-col .contact-info p {
        font-size: 16px;
        font-family: "MuseoSansCyrl300", sans-serif;
        color: white;
        line-height: 1.2; }
      footer .footer-col .contact-info .shedule span {
        font-family: "MuseoSansCyrl900", sans-serif;
        color: #f4bd00;
        padding-right: 10px; }
      footer .footer-col .contact-info p.contact-telephone, footer .footer-col .contact-info p.contact-email {
        font-size: 18px; }
      footer .footer-col .contact-info p.contact-email a {
        text-decoration: none;
        font-family: "MuseoSansCyrl900", sans-serif;
        color: #f4bd00; }
        footer .footer-col .contact-info p.contact-email a:hover {
          text-decoration: underline; }
    footer .footer-col .order-form-btn {
      width: 220px;
      font-size: 20px; }
  footer .footer-text {
    font-size: 12px;
    font-family: "MuseoSansCyrl300", sans-serif;
    color: white;
    line-height: 1.2;
    text-align: center; }
    @media all and (max-width: 768px) {
      footer .footer-text {
        font-size: 14px; } }

#index-page .main-top-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../images/index/video-slide.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  #index-page .main-top-container .container {
    height: 100%;
    position: relative; }
  #index-page .main-top-container .main-header {
    position: absolute;
    bottom: 15vh;
    margin: 0;
    z-index: 5;
    font-size: 165px;
    font-family: "BebasNeueBold", sans-serif;
    color: white;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left; }
    @media all and (max-width: 1600px) {
      #index-page .main-top-container .main-header {
        font-size: 140px; } }
    @media all and (max-width: 1400px) {
      #index-page .main-top-container .main-header {
        font-size: 120px; } }
    @media all and (max-width: 1000px) {
      #index-page .main-top-container .main-header {
        font-size: 100px; } }
    @media all and (max-width: 768px) {
      #index-page .main-top-container .main-header {
        position: relative;
        bottom: 0;
        padding-top: 15vh;
        text-align: center; } }
    @media all and (max-width: 600px) {
      #index-page .main-top-container .main-header {
        font-size: 50px; } }
  #index-page .main-top-container .order-btns {
    display: inline-block;
    position: absolute;
    bottom: 40%;
    right: 0;
    z-index: 5; }
    @media all and (max-width: 768px) {
      #index-page .main-top-container .order-btns {
        position: relative;
        width: 100%;
        bottom: 0;
        right: 0;
        padding-top: 20px; } }
    #index-page .main-top-container .order-btns .view-example-btn {
      -webkit-animation-duration: 2s;
      animation-duration: 2s; }

#index-page .our-services {
  position: relative;
  z-index: 5;
  margin-top: -20vh; }
  #index-page .our-services .section-header {
    padding-top: 20vh; }
  #index-page .our-services .our-services-wrapper .service-item {
    padding: 30px; }
    #index-page .our-services .our-services-wrapper .service-item .icon-cont {
      text-align: center; }
      #index-page .our-services .our-services-wrapper .service-item .icon-cont .icon {
        width: 100%;
        max-width: 194px;
        height: 165px;
        background-repeat: no-repeat;
        background-size: contain;
        transition: all 0.4s; }
      #index-page .our-services .our-services-wrapper .service-item .icon-cont .service-1-icon {
        background-image: url("../images/index/service-1-icon.png"); }
        #index-page .our-services .our-services-wrapper .service-item .icon-cont .service-1-icon:hover {
          background-image: url("../images/index/service-1-icon-hover.png"); }
      #index-page .our-services .our-services-wrapper .service-item .icon-cont .service-2-icon {
        background-image: url("../images/index/service-2-icon.png"); }
        #index-page .our-services .our-services-wrapper .service-item .icon-cont .service-2-icon:hover {
          background-image: url("../images/index/service-2-icon-hover.png"); }
      #index-page .our-services .our-services-wrapper .service-item .icon-cont .service-3-icon {
        background-image: url("../images/index/service-3-icon.png"); }
        #index-page .our-services .our-services-wrapper .service-item .icon-cont .service-3-icon:hover {
          background-image: url("../images/index/service-3-icon-hover.png"); }
      #index-page .our-services .our-services-wrapper .service-item .icon-cont .service-4-icon {
        background-image: url("../images/index/service-4-icon.png"); }
        #index-page .our-services .our-services-wrapper .service-item .icon-cont .service-4-icon:hover {
          background-image: url("../images/index/service-4-icon-hover.png"); }
    #index-page .our-services .our-services-wrapper .service-item .service-item-title {
      font-size: 32px;
      font-family: "BebasNeueBold", sans-serif;
      color: black;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: left; }
      @media all and (max-width: 768px) {
        #index-page .our-services .our-services-wrapper .service-item .service-item-title {
          text-align: center; } }
    #index-page .our-services .our-services-wrapper .service-item .inclined-line {
      border-top: 2px solid #000;
      -webkit-transform: rotate(-5deg);
              transform: rotate(-5deg); }
    #index-page .our-services .our-services-wrapper .service-item .service-item-list {
      padding: 0;
      padding-left: 20px;
      margin: 0;
      list-style-type: disc; }
      #index-page .our-services .our-services-wrapper .service-item .service-item-list li {
        color: #f4bd00;
        font-size: 20px;
        transition: all 0.4s; }
        #index-page .our-services .our-services-wrapper .service-item .service-item-list li a {
          font-size: 14px;
          font-family: "MuseoSansCyrl300", sans-serif;
          color: black;
          text-transform: uppercase;
          line-height: 2;
          text-decoration: none;
          transition: all 0.4s; }
          @media all and (max-width: 768px) {
            #index-page .our-services .our-services-wrapper .service-item .service-item-list li a {
              font-size: 18px; } }
        #index-page .our-services .our-services-wrapper .service-item .service-item-list li:hover {
          color: #000; }
          #index-page .our-services .our-services-wrapper .service-item .service-item-list li:hover a {
            color: #f4bd00;
            text-decoration: underline; }
