/* ---------------------- FONTS ------------------------------*/
@font-face {
  font-family: "BebasNeueBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BebasNeueBold.otf"); }

@font-face {
  font-family: "BebasNeueRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BebasNeueRegular.otf"); }

@font-face {
  font-family: "ProximaNovaRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ProximaNovaRegular.otf"); }

@font-face {
  font-family: "ProximaNovaBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ProximaNovaBold.otf"); }

@font-face {
  font-family: "ProximaNovaExtrabold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ProximaNovaExtrabold.otf"); }

/*************************************************************/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arrow-down-yellow {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 73px;
  height: 45px; }

.icon-arrow-left-white {
  background-image: url(../images/sprite.png);
  background-position: 0px -102px;
  width: 26px;
  height: 43px; }

.icon-arrow-right-white {
  background-image: url(../images/sprite.png);
  background-position: -132px 0px;
  width: 26px;
  height: 43px; }

.icon-cross-yellow {
  background-image: url(../images/sprite.png);
  background-position: -83px 0px;
  width: 39px;
  height: 39px; }

.icon-google-hover {
  background-image: url(../images/sprite.png);
  background-position: -132px -53px;
  width: 20px;
  height: 27px; }

.icon-google {
  background-image: url(../images/sprite.png);
  background-position: -168px -109px;
  width: 20px;
  height: 27px; }

.icon-rss-hover {
  background-image: url(../images/sprite.png);
  background-position: -89px -55px;
  width: 27px;
  height: 27px; }

.icon-rss {
  background-image: url(../images/sprite.png);
  background-position: -168px 0px;
  width: 27px;
  height: 27px; }

.icon-search-btn {
  background-image: url(../images/sprite.png);
  background-position: 0px -55px;
  width: 35px;
  height: 37px; }

.icon-twitter-hover {
  background-image: url(../images/sprite.png);
  background-position: -36px -102px;
  width: 34px;
  height: 28px; }

.icon-twitter {
  background-image: url(../images/sprite.png);
  background-position: -45px -55px;
  width: 34px;
  height: 28px; }

.icon-up-btn {
  background-image: url(../images/sprite.png);
  background-position: -80px -102px;
  width: 40px;
  height: 23px; }

.icon-vk-hover {
  background-image: url(../images/sprite.png);
  background-position: -168px -37px;
  width: 22px;
  height: 26px; }

.icon-vk {
  background-image: url(../images/sprite.png);
  background-position: -168px -73px;
  width: 22px;
  height: 26px; }

.svg-soc-icon-1 {
  background: url("../images/svg-sprite.svg") 53.35119% 99.66816% no-repeat;
  width: 33.57px;
  height: 60.73px; }

.svg-soc-icon-2 {
  background: url("../images/svg-sprite.svg") 0 0 no-repeat;
  width: 105.29px;
  height: 60.07px; }

.svg-soc-icon-3 {
  background: url("../images/svg-sprite.svg") 0 99.98336% no-repeat;
  width: 71.72px;
  height: 60.92px; }

.svg-soc-icon-4 {
  background: url("../images/svg-sprite.svg") 99.64982% 0 no-repeat;
  width: 62.34px;
  height: 62.14px; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none; }

html, body {
  width: 100%;
  background-color: #fff;
  overflow-x: hidden; }

.scroll-lock {
  overflow-y: hidden; }

.gl-container {
  position: relative;
  width: 80%;
  margin: 0 auto; }
  @media all and (min-width: 768px) {
    .gl-container {
      width: 90%; } }

.container {
  position: relative;
  z-index: 5;
  width: 80%;
  max-width: 1590px;
  margin: 0 auto; }
  @media all and (max-width: 768px) {
    .container {
      width: 95%; } }

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.4s; }
  a:hover {
    color: #ffc700;
    text-decoration: none; }

a:focus, a:visited, a:active {
  text-decoration: none; }

a[href^="mailto:"]:hover {
  text-decoration: underline; }

.gl-yellow-btn, .gl-transparent-btn {
  display: block;
  margin: 15px auto;
  padding: 15px 10px;
  width: 320px;
  max-width: 90%;
  font-size: 36px;
  font-family: "BebasNeueBold", sans-serif;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  border: none;
  outline: none;
  background-repeat: no-repeat;
  transition: all 0.4s; }
  @media all and (max-width: 768px) {
    .gl-yellow-btn, .gl-transparent-btn {
      font-size: 26px; } }
  @media all and (max-width: 600px) {
    .gl-yellow-btn, .gl-transparent-btn {
      font-size: 24px; } }
  @media all and (max-height: 600px) {
    .gl-yellow-btn, .gl-transparent-btn {
      padding: 10px; } }
  .gl-yellow-btn span, .gl-transparent-btn span {
    display: inline-block; }

.gl-yellow-btn {
  color: black;
  background-color: #ffc700; }

.gl-yellow-btn:hover {
  color: #ffc700;
  background-color: black; }

.gl-transparent-btn {
  color: #fff;
  background-color: transparent;
  border: 2px solid #ffc700; }

.gl-transparent-btn:hover {
  color: #ffc700; }

.white-border {
  border-color: #fff; }

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  transition: all 0.4s; }

.section-header {
  margin: 20px 0;
  font-size: 100px;
  font-family: "BebasNeueBold", sans-serif;
  color: black;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center; }
  @media all and (max-width: 1400px) {
    .section-header {
      font-size: 80px; } }
  @media all and (max-width: 1200px) {
    .section-header {
      font-size: 54px; } }
  @media all and (max-width: 768px) {
    .section-header {
      font-size: 48px; } }

.bg-cont {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll; }

.dark-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(60, 60, 60, 0.5);
  z-index: 2; }

img {
  max-width: 100%; }

.img-cont {
  text-align: center;
  overflow: hidden; }
  .img-cont img {
    max-width: 100%; }

.two-img-cont .img-cont {
  float: left;
  width: 50%; }
  @media all and (max-width: 768px) {
    .two-img-cont .img-cont {
      float: none;
      width: 100%; } }
  .two-img-cont .img-cont img {
    width: 100%; }

.logo-cont {
  text-align: left; }
  .logo-cont a {
    display: inline-block;
    text-decoration: none; }
    .logo-cont a img {
      width: 100%; }

.read-more-btn {
  display: inline-block;
  margin-top: 20px;
  font-size: 36px;
  font-family: "BebasNeueBold", sans-serif;
  color: #ffc700;
  text-decoration: underline;
  line-height: 1.2;
  cursor: pointer;
  transition: all 0.4s; }
  .read-more-btn:hover {
    color: #bbbaba; }

span {
  font: inherit;
  color: inherit; }

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
  text-align: center;
  transition: all 0.4s; }
  header .logo-cont {
    display: inline-block;
    float: left;
    width: 350px; }
  header .menu-btn-cont {
    display: none; }
    @media all and (max-width: 1100px) {
      header .menu-btn-cont {
        display: inline-block;
        width: calc(100% - 350px);
        text-align: right; } }
    header .menu-btn-cont .menu-btn {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 40px;
      margin: 5px 10px 0 10px;
      cursor: pointer;
      transition: all 0.4s; }
      header .menu-btn-cont .menu-btn div {
        width: 100%;
        height: 4px;
        background: #fff;
        margin-bottom: 9px;
        transition: all 0.4s ease-out, opacity 0.2s; }
    header .menu-btn-cont .menu-btn-active {
      cursor: pointer;
      top: 23px; }
      header .menu-btn-cont .menu-btn-active div {
        background: #ffc700; }
      header .menu-btn-cont .menu-btn-active .first {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        position: absolute;
        top: 0; }
      header .menu-btn-cont .menu-btn-active .third {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        position: absolute;
        top: 0;
        margin-bottom: 0; }
      header .menu-btn-cont .menu-btn-active .second {
        opacity: 0;
        -webkit-transform: rotate(-180deg);
                transform: rotate(-180deg); }
    header .menu-btn-cont .menu-btn:hover {
      text-decoration: none; }
  header .main-menu {
    display: inline-block;
    float: right;
    width: calc(100% - 350px);
    text-align: right; }
    @media all and (max-width: 1100px) {
      header .main-menu {
        display: none;
        float: none;
        width: 90%;
        height: 100vh;
        margin: 0 auto; } }
    header .main-menu ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative;
      margin: 0;
      padding: 0; }
      @media all and (max-width: 1100px) {
        header .main-menu ul {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      header .main-menu ul li {
        display: inline-block; }
        @media all and (max-width: 1100px) {
          header .main-menu ul li {
            display: block; } }
      header .main-menu ul li.menu-item.menu-home:before {
        background-image: url("../images/general/svg/hover-menu-home.svg"); }
      header .main-menu ul li.menu-item.menu-about-us:before {
        background-image: url("../images/general/svg/hover-menu-about-us.svg"); }
      header .main-menu ul li.menu-item.menu-our-works:before {
        background-image: url("../images/general/svg/hover-menu-our-works.svg"); }
      header .main-menu ul li.menu-item.menu-contacts:before {
        background-image: url("../images/general/svg/hover-menu-contacts.svg"); }
      header .main-menu ul li.menu-item {
        border: none;
        position: relative;
        transition: all 0.4s; }
        header .main-menu ul li.menu-item:before {
          opacity: 0;
          transition: all 0.4s;
          content: "";
          position: absolute;
          z-index: -1;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-image: url("../images/general/svg/hover-menu-home.svg");
          background-repeat: no-repeat;
          background-size: 100% auto;
          background-position: center bottom; }
        header .main-menu ul li.menu-item a {
          display: inline-block;
          width: 100%;
          padding: 15px 15px;
          font-size: 15px;
          font-family: "ProximaNovaBold", sans-serif;
          color: white;
          line-height: 1.2;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none; }
          @media all and (max-width: 1450px) {
            header .main-menu ul li.menu-item a {
              padding: 15px 10px; } }
        header .main-menu ul li.menu-item.active:before {
          opacity: 1; }
        header .main-menu ul li.menu-item.active a {
          color: #ffc700; }
        @media all and (max-width: 1100px) {
          header .main-menu ul li.menu-item a {
            font-size: 24px; } }
        header .main-menu ul li.menu-item:hover:before {
          opacity: 1; }
      header .main-menu ul .header-contacts {
        position: absolute;
        top: 0;
        left: 2vw;
        padding-right: 10px; }
        @media all and (max-width: 1300px) {
          header .main-menu ul .header-contacts {
            display: none; } }
        @media all and (max-width: 1100px) {
          header .main-menu ul .header-contacts {
            display: block;
            padding: 15px 0 25px 0;
            position: relative;
            left: 0;
            -webkit-box-ordinal-group: 3;
                -ms-flex-order: 2;
                    order: 2; } }
        @media all and (max-width: 600px) {
          header .main-menu ul .header-contacts {
            padding: 10px 0; } }
        @media all and (max-height: 550px) {
          header .main-menu ul .header-contacts {
            display: none; } }
        header .main-menu ul .header-contacts span {
          font-size: 48px;
          line-height: 1.2;
          text-transform: uppercase; }
          @media all and (max-width: 1400px) {
            header .main-menu ul .header-contacts span {
              font-size: 22px; } }
          @media all and (max-width: 1100px) {
            header .main-menu ul .header-contacts span {
              font-size: 30px; } }
        header .main-menu ul .header-contacts .tel {
          font-family: "BebasNeueBold", sans-serif;
          color: white; }
      @media all and (max-width: 1100px) {
        header .main-menu ul .nav-btn {
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1; } }
      header .main-menu ul .nav-btn .callback-form-btn {
        width: 220px;
        font-size: 20px;
        margin: 0 auto;
        background-color: transparent;
        background-image: url("../images/general/svg/button-order.svg"); }
        header .main-menu ul .nav-btn .callback-form-btn:hover {
          background-image: url("../images/general/svg/button-order-hover.svg"); }
        @media all and (max-width: 1100px) {
          header .main-menu ul .nav-btn .callback-form-btn {
            margin-top: 10px; } }
  header .show-menu {
    height: 100vh;
    display: block;
    opacity: 1; }

.header-hidden {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%); }

.header-visible {
  -webkit-transform: translateY(0);
          transform: translateY(0); }

.header-darkness {
  background-color: rgba(0, 0, 0, 0.85); }

.header-black {
  background-color: #000; }

footer {
  position: relative;
  background-color: #000; }
  footer .footer-black-border {
    position: absolute;
    width: 110%;
    max-width: 110%;
    left: -5%;
    bottom: 99%; }
  footer .footer-cont {
    padding: 10vh 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media all and (max-width: 768px) {
      footer .footer-cont {
        padding: 5vh 0; } }
    footer .footer-cont .footer-col {
      width: 50%;
      padding: 15px; }
      @media all and (max-width: 992px) {
        footer .footer-cont .footer-col {
          width: 100%;
          padding: 15px 0; } }
    footer .footer-cont .cta-col {
      text-transform: uppercase;
      line-height: 1.1;
      text-align: center; }
      footer .footer-cont .cta-col .cta-big {
        font-size: 125px;
        font-family: "ProximaNovaExtrabold", sans-serif;
        color: white; }
        @media all and (max-width: 1600px) {
          footer .footer-cont .cta-col .cta-big {
            font-size: 78px; } }
        @media all and (max-width: 1200px) {
          footer .footer-cont .cta-col .cta-big {
            font-size: 48px; } }
      footer .footer-cont .cta-col .cta-small {
        padding-bottom: 10px;
        font-size: 80px;
        font-family: "BebasNeueRegular", sans-serif;
        color: #ffc700; }
        @media all and (max-width: 1600px) {
          footer .footer-cont .cta-col .cta-small {
            font-size: 50px; } }
        @media all and (max-width: 1200px) {
          footer .footer-cont .cta-col .cta-small {
            font-size: 30px; } }
      footer .footer-cont .cta-col .order-form-btn {
        background-color: transparent;
        background-image: url("../images/general/svg/button-brief.svg");
        background-size: 100% 100%; }
        footer .footer-cont .cta-col .order-form-btn:hover {
          background-image: url("../images/general/svg/button-brief-hover.svg"); }
    footer .footer-cont .contacts-col p {
      font-size: 60px;
      font-family: "ProximaNovaExtrabold", sans-serif;
      color: #fff;
      line-height: 1.5;
      text-align: center; }
      footer .footer-cont .contacts-col p span {
        color: #ffc700; }
      @media all and (max-width: 1600px) {
        footer .footer-cont .contacts-col p {
          font-size: 42px; } }
      @media all and (max-width: 1200px) {
        footer .footer-cont .contacts-col p {
          font-size: 30px; } }
    footer .footer-cont .contacts-col .social-icons-cont {
      padding-top: 5vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      @media all and (max-width: 992px) {
        footer .footer-cont .contacts-col .social-icons-cont {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; } }
      footer .footer-cont .contacts-col .social-icons-cont .icon {
        position: relative; }
        @media all and (max-width: 1200px) {
          footer .footer-cont .contacts-col .social-icons-cont .icon {
            -webkit-transform: scale(0.75);
                    transform: scale(0.75); } }
        @media all and (max-width: 768px) {
          footer .footer-cont .contacts-col .social-icons-cont .icon {
            -webkit-transform: scale(0.6);
                    transform: scale(0.6); } }
        footer .footer-cont .contacts-col .social-icons-cont .icon:before {
          opacity: 0;
          transition: all 0.4s;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 150px;
          height: 150px;
          -webkit-transform: translateX(-50%) translateY(-50%);
                  transform: translateX(-50%) translateY(-50%);
          content: "";
          background-image: url("../images/general/svg/soc-icon-hover.svg");
          background-size: 100% 100%; }
      footer .footer-cont .contacts-col .social-icons-cont a:hover .icon:before {
        opacity: 1; }
      footer .footer-cont .contacts-col .social-icons-cont .social-icon {
        width: 20%; }
        footer .footer-cont .contacts-col .social-icons-cont .social-icon img {
          width: 100%;
          max-height: 65px; }
  footer .copy-right {
    padding: 60px 0 30px 0;
    background-image: url("../images/general/svg/footer-down-border.svg");
    background-repeat: no-repeat;
    background-size: cover; }
    footer .copy-right p {
      font-size: 16px;
      font-family: "ProximaNovaExtrabold", sans-serif;
      color: black;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: center; }

#index-page .main-top-container {
  background-image: url("../images/index/picture-banner.jpg");
  min-height: 100vh;
  padding-top: 15vh;
  padding-bottom: 10vh; }
  #index-page .main-top-container .main-header {
    font-size: 130px;
    font-family: "BebasNeueRegular", sans-serif;
    color: white;
    text-transform: uppercase;
    line-height: 1.154; }
    #index-page .main-top-container .main-header span {
      font: inherit;
      font-family: "BebasNeueBold", sans-serif; }
    @media all and (max-width: 1400px) {
      #index-page .main-top-container .main-header {
        font-size: 90px; } }
    @media all and (max-width: 768px) {
      #index-page .main-top-container .main-header {
        font-size: 48px; } }
  #index-page .main-top-container .full-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #index-page .main-top-container .full-cont .left-cont {
      width: 75%; }
    #index-page .main-top-container .full-cont .right-cont {
      width: 25%;
      text-align: left;
      padding-left: 30px; }
      @media all and (max-width: 1400px) {
        #index-page .main-top-container .full-cont .right-cont {
          padding-left: 0;
          text-align: right; } }
    @media all and (max-width: 1000px) {
      #index-page .main-top-container .full-cont .left-cont, #index-page .main-top-container .full-cont .right-cont {
        width: 100%;
        text-align: center; } }
  #index-page .main-top-container .illustrations-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #index-page .main-top-container .illustrations-cont .img-cont {
      width: calc(100% / 3);
      padding: 25px; }
      @media all and (max-width: 768px) {
        #index-page .main-top-container .illustrations-cont .img-cont {
          width: 100%; } }
      #index-page .main-top-container .illustrations-cont .img-cont img {
        width: 100%; }
  #index-page .main-top-container .lamp-cont {
    padding-left: 30px; }
    @media all and (max-width: 1400px) {
      #index-page .main-top-container .lamp-cont {
        padding-left: 0; } }
    #index-page .main-top-container .lamp-cont img {
      width: 80%;
      max-width: 160px; }
  #index-page .main-top-container .lamp-text {
    font-size: 60px;
    font-family: "ProximaNovaExtrabold", sans-serif;
    color: white;
    text-transform: uppercase;
    line-height: 1.2; }
    @media all and (max-width: 1400px) {
      #index-page .main-top-container .lamp-text {
        font-size: 36px; } }
    #index-page .main-top-container .lamp-text .size-80 {
      font-size: 80px; }
      @media all and (max-width: 1400px) {
        #index-page .main-top-container .lamp-text .size-80 {
          font-size: 48px; } }
    #index-page .main-top-container .lamp-text .light-font {
      font-family: "ProximaNovaRegular", sans-serif; }
  #index-page .main-top-container .main-text {
    font-size: 30px;
    font-family: "ProximaNovaExtrabold", sans-serif;
    color: white;
    line-height: 1.2;
    text-align: left; }
    @media all and (max-width: 1400px) {
      #index-page .main-top-container .main-text {
        font-size: 18px; } }
    @media all and (max-width: 1000px) {
      #index-page .main-top-container .main-text {
        font-size: 24px;
        text-align: center; } }

#index-page .our-services {
  position: relative; }
  #index-page .our-services .section-header {
    padding-top: 20px; }
  #index-page .our-services .services-block-border {
    position: absolute;
    width: 110%;
    max-width: 110%;
    left: -5%;
    bottom: 99%; }
  #index-page .our-services .services-underlining {
    width: 55%; }
  #index-page .our-services .services-items-cont {
    padding-bottom: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #index-page .our-services .services-items-cont .service-item-cont {
      width: 25%;
      padding: 0 3vw; }
      @media all and (max-width: 1400px) {
        #index-page .our-services .services-items-cont .service-item-cont {
          width: 50%;
          padding: 0 10vw; } }
      @media all and (max-width: 1000px) {
        #index-page .our-services .services-items-cont .service-item-cont {
          width: 100%; } }
      #index-page .our-services .services-items-cont .service-item-cont .service-item .service-img-cont {
        width: 100%;
        padding-top: 100%;
        margin: 50px 0;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat; }
        @media all and (max-width: 1400px) {
          #index-page .our-services .services-items-cont .service-item-cont .service-item .service-img-cont {
            margin: 3vh 0; } }
      #index-page .our-services .services-items-cont .service-item-cont .service-item .service-info {
        line-height: 1.2;
        text-align: center;
        color: black; }
        #index-page .our-services .services-items-cont .service-item-cont .service-item .service-info .service-header {
          font-size: 80px;
          font-family: "BebasNeueBold", sans-serif;
          text-transform: uppercase; }
          @media all and (max-width: 1400px) {
            #index-page .our-services .services-items-cont .service-item-cont .service-item .service-info .service-header {
              font-size: 80px; } }
          @media all and (max-width: 1000px) {
            #index-page .our-services .services-items-cont .service-item-cont .service-item .service-info .service-header {
              font-size: 60px; } }
        #index-page .our-services .services-items-cont .service-item-cont .service-item .service-info .service-cta {
          font-size: 24px;
          font-family: "ProximaNovaBold", sans-serif; }
      #index-page .our-services .services-items-cont .service-item-cont .service-item .service-list {
        padding: 20px 0;
        list-style: none;
        text-align: center; }
        #index-page .our-services .services-items-cont .service-item-cont .service-item .service-list li {
          position: relative;
          cursor: pointer;
          display: inline-block;
          padding: 20px 25px;
          font-size: 30px;
          font-family: "BebasNeueBold", sans-serif;
          color: #000;
          text-transform: uppercase;
          line-height: 1.2;
          text-align: center;
          transition: all 0.4s; }
          @media all and (max-width: 768px) {
            #index-page .our-services .services-items-cont .service-item-cont .service-item .service-list li {
              font-size: 22px; } }
          #index-page .our-services .services-items-cont .service-item-cont .service-item .service-list li span {
            position: relative;
            z-index: 1;
            font: inherit;
            color: inherit; }
          #index-page .our-services .services-items-cont .service-item-cont .service-item .service-list li svg {
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 0.4s; }
        #index-page .our-services .services-items-cont .service-item-cont .service-item .service-list li.black-item {
          color: #ffc700; }
          #index-page .our-services .services-items-cont .service-item-cont .service-item .service-list li.black-item svg {
            fill: #000; }
          #index-page .our-services .services-items-cont .service-item-cont .service-item .service-list li.black-item:hover {
            color: #000; }
            #index-page .our-services .services-items-cont .service-item-cont .service-item .service-list li.black-item:hover svg {
              fill: #ffc700; }
        #index-page .our-services .services-items-cont .service-item-cont .service-item .service-list li.yellow-item {
          color: #000; }
          #index-page .our-services .services-items-cont .service-item-cont .service-item .service-list li.yellow-item svg {
            fill: #ffc700; }
          #index-page .our-services .services-items-cont .service-item-cont .service-item .service-list li.yellow-item:hover {
            color: #ffc700; }
            #index-page .our-services .services-items-cont .service-item-cont .service-item .service-list li.yellow-item:hover svg {
              fill: #000; }

.our-works {
  padding: 15vh 0 10vh 0; }
  .our-works .section-header {
    margin-top: 0; }
  .our-works .our-works-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .our-works .our-works-cont .left-cont {
      width: 30%; }
    .our-works .our-works-cont .right-cont {
      width: 70%;
      padding-left: 10vw; }
    .our-works .our-works-cont .portfolio-menu ul {
      list-style: none;
      text-align: right; }
      .our-works .our-works-cont .portfolio-menu ul li {
        display: block; }
        .our-works .our-works-cont .portfolio-menu ul li a {
          font-size: 30px;
          font-family: "BebasNeueRegular", sans-serif;
          color: black;
          text-transform: uppercase;
          line-height: 3.333; }
    .our-works .our-works-cont .portolio-items-cont {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: auto auto auto;
          grid-template-columns: auto auto auto;
      grid-auto-rows: auto;
      grid-gap: 30px;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start; }
      @media all and (max-width: 1400px) {
        .our-works .our-works-cont .portolio-items-cont {
          -ms-grid-columns: auto auto;
              grid-template-columns: auto auto; } }

.white-color {
  color: #fff; }

.black-color {
  color: #000; }

.yellow-color {
  color: #ffc700; }

.animated {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s; }
