.svg-service-blot-1-black {
  background: url("../images/svg-sprite.svg") 0 67.88184% no-repeat;
  width: 283.55px;
  height: 78.69px; }

.svg-service-blot-1-yellow {
  background: url("../images/svg-sprite.svg") 99.85695% 0 no-repeat;
  width: 283.55px;
  height: 78.69px; }

.svg-service-blot-2-black {
  background: url("../images/svg-sprite.svg") 34.2599% 83.78737% no-repeat;
  width: 174.03px;
  height: 66.84px; }

.svg-service-blot-2-yellow {
  background: url("../images/svg-sprite.svg") 0 83.78737% no-repeat;
  width: 174.03px;
  height: 66.84px; }

.svg-service-blot-3-black {
  background: url("../images/svg-sprite.svg") 29.8281% 99.97267% no-repeat;
  width: 156.69px;
  height: 71.89px; }

.svg-service-blot-3-yellow {
  background: url("../images/svg-sprite.svg") 0 99.97267% no-repeat;
  width: 156.69px;
  height: 71.89px; }

.svg-service-blot-4-black {
  background: url("../images/svg-sprite.svg") 96.11324% 17.96657% no-repeat;
  width: 268.03px;
  height: 73.02px; }

.svg-service-blot-4-yellow {
  background: url("../images/svg-sprite.svg") 96.11324% 34.63857% no-repeat;
  width: 268.03px;
  height: 73.02px; }

.svg-service-blot-5-black {
  background: url("../images/svg-sprite.svg") 88.99327% 50.23471% no-repeat;
  width: 234.91px;
  height: 63.64px; }

.svg-service-blot-5-yellow {
  background: url("../images/svg-sprite.svg") 88.99327% 64.46039% no-repeat;
  width: 234.91px;
  height: 63.64px; }

.svg-service-blot-6-black {
  background: url("../images/svg-sprite.svg") 0 50.34014% no-repeat;
  width: 320.67px;
  height: 72.94px; }

.svg-service-blot-6-yellow {
  background: url("../images/svg-sprite.svg") 0 33.68945% no-repeat;
  width: 320.67px;
  height: 72.94px; }

.svg-service-blot-7-black {
  background: url("../images/svg-sprite.svg") 0 16.87747% no-repeat;
  width: 397.88px;
  height: 73.79px; }

.svg-service-blot-7-yellow {
  background: url("../images/svg-sprite.svg") 0 0 no-repeat;
  width: 397.88px;
  height: 73.79px; }
