<!-- start of header -->
<header class="header-white">
    <div class="container">
        <div class="img-cont logo-cont">
            <a href="index.html" target="_self">
                <img class="logo-black" src="images/general/svg/fomdih-logo-black.svg" alt="fomdih-logo">
                <img class="logo-white" src="images/general/svg/fomdih-logo.svg" alt="fomdih-logo">
            </a>
        </div>

        <div class="menu-btn-cont">
            <div class="menu-btn">
                //= ../template-svg/menu-hamburger-white.html
                //= ../template-svg/menu-close-icon-white.html
            </div>
        </div>

        <nav class="main-menu">
            <ul>
                <li class="header-contacts">
                    <span class="tel">
                        <a href="tel:+38(098)8171519"><span class="yellow-color">+38</span> (098) 817 15 19</a>
                    </span>
                </li>
                <li class="nav-btn">
                    <a href="/" class="gl-yellow-btn callback-form-btn">
                        //= ../template-svg/button-order.html
                        <span>сделать заказ</span>
                    </a>
                </li>
                <li class="menu-item menu-home active"><a href="index.html">главная</a></li>
                <li class="menu-item menu-about-us"><a href="company.html">кто мы</a></li>
                <li class="menu-item menu-our-works"><a href="portfolio.html">наши работы</a></li>
                <li class="menu-item menu-contacts"><a href="contacts.html">контакты</a></li>
            </ul>
        </nav>
    </div>

</header>
<!-- end of header -->