@charset "UTF-8";
$containerWidth: 80%;
$color_green_light: #2ecc71;

html, body {
	padding: 0;
	margin: 0;
	width: 100%; // TO AVOID HORIZONTAL SCROLLING !!!
	//overflow-x: hidden

}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

.verical-align {
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.main-wrapper {
	position: relative;
	margin: 0 auto;
	max-width: 1920px;
}

#preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100500;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: #ffffff url('../images/preloader.gif') no-repeat center center;
}

.back-to-top {
    display: block;
    position: fixed;
    z-index: 100500;
    right: 20px;
    background-color: rgba(34, 61, 98, 0.3);
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    opacity: 1;

    bottom: 20px;
    img {
        padding: 25px 20px;

        @media screen and (max-width: 600px) {
            padding: 15px 10px;
        }
    }
}

//.back-to-top {
//    bottom: 20px;
//    img {
//        padding: 25px 20px;
//
//        @media screen and (max-width: 600px) {
//            padding: 15px 10px;
//        }
//    }
//}

.search-container {
    position: fixed;
    bottom: 90px;
    z-index: 100500;
    right: 20px;

    @media screen and (max-width: 600px) {
        bottom: 70px;
    }

    .input-container {
		//display: inline-block;
		opacity: 0;
		//display: none;
		transition: all 0.4s;
        input {
            display: inline-block;
            position: absolute;
            top: 0;
            right: 100%;
            height: 67px;
			width: 30vw;
			padding: 0 20px;
            font-size: 20px;
            font-family: "Segoe UI";
            color: #f0cf16;
            background-color: #262626;
            line-height: 1.2;
            text-align: center;
            border: 0;
            outline: none;


			@media screen and (max-width: 1000px) {
				width: 60vw;
			}
            @media screen and (max-width: 600px) {
                height: 47px;
				width: 80vw;
				padding: 0 2px;
            }
        }
    }

    .search-btn {
        display: inline-block;
        position: relative;
		top: 0;
        background-color: rgba(34, 61, 98, 0.3);
        border: none;
        outline: none;

        -webkit-transition: all .35s ease;
        transition: all .35s ease;

        img {
            //display: inline-block;
            padding: 20px;

            @media screen and (max-width: 600px) {
                padding: 10px;
            }
        }
    }
}
.search-container:hover .input-container{
	opacity: 1;
	//display: block;
}

.back-to-top:hover, .search-btn:hover {
    //background-color: rgba(34, 61, 98, 0.8);
    background-color: #f0cf16;
}

.back-to-top-visible, .search-btn-visible {
    //display: block;
    opacity: 1;
}

#indelika {
	//position: relative;
	//margin-top: 50px;

    .bg-container {
        position: relative;
        width: 100%;
        height: 100vh;

        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;

        .dark-mask {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(60, 60, 60, 0.5);
            z-index: 2;
        }

        h1 {
            font-size: 80px;
            font-family: "Segoe UI";
            color: rgb(255, 255, 255);
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.2;
            text-align: center;
            text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.004);

            position: absolute;
            //left: 0;
            top: 30%;
            z-index: 60;

            width: 100%;

            @media all and (max-width: 1000px) {
                font-size: 60px;
                top: 15%;
            }
            @media all and (max-width: 700px) {
                font-size: 40px;
                top: 30%;
            }
            @media all and (max-width: 500px) {
                font-size: 20px;
                top: 30%;
            }
        }
        .top-title-animate {
            opacity: 0;
            //left: -100%;
            transition: all 2s;
        }
        .top-title-animate-active {
            opacity: 1;
            //left: 0;
        }
    }

    .image-top {
        background-image: url("../images/SLIDEMAIN.jpg");
    }

    //.image-second {
    //    margin-top: 50px;
    //    height: 70vh;
    //    background-size: auto;
    //    background-position: center top;
    //    background-color: #000;
    //    background-attachment: scroll;
    //    background-image: url("../images/LOGO-INDELIKA.png");
    //}

    .image-third {
        background-size: auto;
        background-position: center center;
        background-color: #000;
        background-attachment: scroll;
        background-image: url("../images/ИНДЕЛИКА-ВИЗ-1.jpg");
    }

    .image-fourth {
        background-size: auto;
        background-position: center center;
        background-color: #000;
        background-attachment: scroll;
        background-image: url("../images/ИНДЕЛИКА-ВИЗ-2.jpg");
    }

    .image-fifth {
        background-size: auto;
        background-position: center center;
        background-color: #000;
        background-attachment: scroll;
        background-image: url("../images/ИНДЕЛИКА-ВИЗ-3.jpg");
    }

    .logo-container {
        background-color: #000;
    }

	.image-container {
		width: 100%;
		position: relative;
		top: 0;
		left: 0;
        text-align: center;
		//background-color: grey; // TEMP

		.dark-mask {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(60, 60, 60, 0.5);
			z-index: 2;
		}

		.big-image {
			width: 100%;
            //height: 100vh;
            position: relative;
			//height: auto;
		}

        .image-second {
            padding: 50px 10px 10px 10px;
            //padding-top: 50px;
            height: 70vh;
            width: auto;
            background-color: #000;

            @media all and (max-width: 600px) {
                height: 50vh;
            }
        }

        .third-image {
            .image-cont-left {
                display: inline-block;
                width: 50%;

                .image-left {
                    vertical-align: bottom;
                }

                .image-left-animate {
                    opacity: 0;
                    left: -100%;
                    transition: all 1s;
                }
            }

            .image-cont-right {
                display: inline-block;
                width: 50%;

                .image-right {
                    height: auto;
                    vertical-align: bottom;
                }

                .image-right-animate {
                    opacity: 0;
                    left: 100%;
                    transition: all 1.5s;
                }
            }
        }

		.top-image-animate {
			//left: 100%;
			opacity: 0;
			transition: all 2s;
		}

		.second-image-animate {
			//left: -100%;
			opacity: 0;
			transition: all 2s;
		}

		.fourth-image-animate {
			//left: -100%;
			opacity: 0;
			transition: all 2s;
		}

        .image-animate-active {
            opacity: 1 !important;
            left: 0 !important;
        }
	}

	.slider-cont {
		position: relative;
		width: 100%;
		height: calc(100vh - 10px);
		background-color: #747474;
		overflow-x: hidden;

		.slider {
			position: relative;
			width: 500%;
			height: calc(100vh - 10px);
			text-align: center;

			margin: 0px;
			padding: 0px;
			list-style-type: none;

			li {
				position: absolute;
				top: 0;
				display: inline-block;
				float: left;
				width: calc(100% / 5);
				height: calc(100vh - 10px);
				font-size: 35px;

				background-repeat: no-repeat;
				background-position: center top;
				background-size: cover;

				.slider-dark-mask {
					position: relative;
					width: 100%;
					height: 100%;
					background-color: rgba(60, 60, 60, 0.5);

                    .slider-text, .slider-image {
                        display: inline-block ;
                        width: 50%;
                    }
                    .slider-text {
                        h2 {
                            font-size: 36px;
                            font-family: "Segoe UI";
                            color: rgb(0, 0, 0);
                            font-weight: bold;
                            line-height: 1.2;
                            text-align: center;
                            margin-bottom: 20px;

                            @media all and (max-width: 600px) {
                                font-size: 20px;
                            }
                        }
                        p {
                            font-size: 24px;
                            font-family: "Segoe UI Light";
                            color: rgb(255, 255, 255);
                            line-height: 1.2;
                            text-align: justify;

                            span {
                                font-size: inherit;
                                font-weight: bold;
                            }

                            @media all and (max-width: 600px){
                                font-size: 16px;
                            }
                        }
                        .read-more-btn {
                            display: inline-block;
                            font-size: 30px;
                            font-family: "Segoe UI";
                            color: rgb(240, 207, 22);
                            text-decoration: underline;
                            line-height: 1.2;
                            text-align: center;
                            cursor: pointer;
                            margin: 30px 0 10px 0;

                            @media all and (max-width: 600px) {
                                font-size: 20px;
                                margin: 10px 0 0 0;
                            }
                        }

                    }
                    .slider-image {

                    }
				}
			}
			li:nth-child(1) {
				left: -20%;
				background-image: url(../images/SLIDEMAIN.jpg);
			}
			li:nth-child(2) {
				left: 0;
				background-image: url(../images/ИНДЕЛИКА-КОНЦЕПТ-№1.jpg);
			}
			li:nth-child(3) {
				left: 20%;
				background-image: url(../images/ИНДЕЛИКА-ВИЗ-2.jpg);
			}
			li:nth-child(4) {
				left: 40%;
				background-image: url(../images/ИНДЕЛИКА-ВИЗ-3.jpg);
			}
			li:nth-child(5) {
				left: 60%;
				background-image: url(../images/ИНДЕЛИКА-ВИЗ-4.jpg);
			}
		}

        .slider_left_btn, .slider_right_btn {
            position: absolute;
            //color: #878787;
            //background-color: #3c4140;
            //padding: 50px;
            width: 75px;
            height: 145px;
            background-repeat: no-repeat;
            cursor: pointer;
            z-index: 10;
            transition: all 0.4s;

            @media screen and (max-width: 800px) {
                width: 38px;
                height: 72px;
            }
        }

        .slider_left_btn {
            bottom: 50%;
            left: 2%;
            background-image: url("../images/slide_left_black.png");

            @media screen and (max-width: 800px) {
                background-image: url("../images/slide_left_black_mob.png");
            }
        }
        .slider_right_btn {
            bottom: 50%;
            right: 2%;
            background-image: url("../images/slide_right_black.png");

            @media screen and (max-width: 800px) {
                background-image: url("../images/slide_right_black_mob.png");
            }
        }

        .slider_left_btn:hover {
            background-image: url("../images/slide_left_black_hover.png");

            @media screen and (max-width: 800px) {
                background-image: url("../images/slide_left_black_mob_hover.png");
            }
        }
        .slider_right_btn:hover {
            background-image: url("../images/slide_right_black_hover.png");

            @media screen and (max-width: 800px) {
                background-image: url("../images/slide_right_black_mob_hover.png");
            }
        }

		.slider-nav {
            display: block;
			position: absolute;
			bottom: 10%;
			left: 50%;
			margin-left: -129px;
			z-index: 10;

            @media screen and (max-width: 800px) {
                display: none;
            }

			.slider-nav-list{
				li {
					display: inline-block;
					padding: 10px;
					position: relative;

					.pagination-btn {
						.fa {
							color: #000;
							//color: rgba(46, 204, 96, 1);
							cursor: pointer;

						}
						.fa-circle-thin {
							font-size: 30px;
						}
						.fa-circle {
							font-size: 15px;
							//display: none;
							opacity: 0;
							transition: all 0.3s;
						}
					}
					.active, .pagination-btn:hover {
						.fa-circle {
							//display: block;
							opacity: 1;
						}
					}
				}

			}
		}
	}

	.info-block-container {
		.container {
			width: $containerWidth;
			margin: 0 auto;
            padding: 60px 0;

			@media all and (max-width: 600px) {
                padding: 20px 0;
			}

			.info-left {
				width: 50%;
				float: left;

				h2 {
					font-size: 36px;
					font-family: "Segoe UI";
					color: rgb(0, 0, 0);
					font-weight: bold;
					line-height: 1.2;
					text-align: center;
					margin-bottom: 20px;

					@media all and (max-width: 600px) {
						font-size: 20px;
					}
				}

                .info-title-animate {
                    position: relative;
                    //left: -100%;
                    opacity: 0;
                    transition: all 1s;
                }

				.info-title-animate-active {
					//left: 0;
					opacity: 1;
				}

				@media all and (max-width: 800px) {
					width: 100%;
					float: none;
					margin: 0 auto;
				}
			}

			.info-right {
				width: 50%;
				float: left;

				p {
					font-size: 20px;
					font-family: "Segoe UI";
                    font-weight: lighter;
                    color: rgb(80, 80, 80);
					line-height: 1.2;
					text-align: justify;
					text-indent: 40px;

					opacity: 1;

                    span {
                        font-size: inherit;
                        font-weight: bold;
                    }

					//padding-bottom: 30px;
					@media all and (max-width: 600px) {
						font-size: 16px;
					}
				}

                .for-read-more {
                    display: none;
                }

                .for-read-more-visible {
                    display: block;
                }

				.read-more-btn {
					display: inline-block;
					font-size: 30px;
					font-family: "Segoe UI";
					color: rgb(240, 207, 22);
					text-decoration: underline;
					line-height: 1.2;
					text-align: center;
                    cursor: pointer;
					margin: 30px 0 10px 0;

					@media all and (max-width: 600px) {
						font-size: 20px;
						margin: 10px 0 0 0;
					}
				}

                .info-text-animate {
                    opacity: 0;
                    transition: all 1s;
                }
				.info-text-animate-active {
					opacity: 1;
				}

				@media all and (max-width: 800px) {
					width: 100%;
					float: none;
					margin: 0 auto;

					.read-more-btn {
						display: block;
					}
				}
			}
		}
	}


    .info-history {
        background-color: #000;

        h2, p {
            color: #fff !important;
        }
    }

    .info-solution {
        position: relative;
        .container {
            margin-bottom: 35vh;
        }
    }

	.stickers-block-container {
		position: relative;
        padding: 30vh 0 100px 0;
		background-image: -moz-linear-gradient( 0deg, rgb(35,35,35) 0%, rgb(4,4,4) 100%);
		background-image: -webkit-linear-gradient( 0deg, rgb(35,35,35) 0%, rgb(4,4,4) 100%);
		background-image: -ms-linear-gradient( 0deg, rgb(35,35,35) 0%, rgb(4,4,4) 100%);
		background-image: linear-gradient( 0deg, rgb(35,35,35) 0%, rgb(4,4,4) 100%);

        .image-fifth {
            position: absolute;
            left: 10%;
            top:-35vh;
            height: 60vh;
            width: 80%;
            background-image: url("../images/LABEL-PICTURE.png");
            background-attachment: scroll;
            //transition: all 1s;
        }

        h2 {
            padding: 0 0 80px 0;
            font-size: 48px;
            font-family: "Segoe UI";
            color: rgb(255, 255, 255);
            font-weight: bold;
            line-height: 1.2;
            text-align: center;

            @media all and (max-width: 1000px) {
                font-size: 32px;
            }
            @media all and (max-width: 800px) {
                font-size: 26px;
            }
            @media all and (max-width: 600px) {
                font-size: 24px;
            }
        }

        .sticker-name {
            font-size: 36px;
            font-family: "AFuturaRoundBold";
            font-weight: bold;
            color: rgb(205, 162, 80);
            line-height: 1.2;
            text-align: center;

            @media all and (max-width: 1000px) {
                font-size: 30px;
            }
            @media all and (max-width: 800px) {
                font-size: 24px;
            }
            @media all and (max-width: 600px) {
                font-size: 20px;
            }
        }

        .sticker-text {
            padding: 40px 0 50px 0;
            font-size: 30px;
            font-family: "VacansiaC";
            color: rgb(205, 162, 80);
            font-weight: bold;
            line-height: 1.2;
            text-align: center;

            @media all and (max-width: 1000px) {
                font-size: 24px;
            }
            @media all and (max-width: 800px) {
                font-size: 20px;
            }
            @media all and (max-width: 600px) {
                font-size: 16px;
            }
        }

        .sticker-info {
            font-size: 30px;
            font-family: "Arial";
            font-weight: normal;
            color: rgb(205, 162, 80);
            line-height: 1.2;
            text-align: center;

            @media all and (max-width: 1000px) {
                font-size: 24px;
            }
            @media all and (max-width: 800px) {
                font-size: 20px;
            }
            @media all and (max-width: 600px) {
                font-size: 16px;
            }
        }
    }

    .stickers-colors-container {
        background-color: #fff;
        padding: 80px 0;

        @media all and (max-width: 600px) {
            padding: 20px 0;
        }

        .container {
            width: $containerWidth;
            margin: 0 auto;

            h2 {
                padding-bottom: 80px;
                font-size: 48px;
                font-family: "Segoe UI";
                color: rgb(0, 0, 0);
                font-weight: bold;
                line-height: 1.2;
                text-align: center;

                @media all and (max-width: 1200px){
                    padding-bottom: 60px;
                    font-size: 40px;
                }
                @media all and (max-width: 1000px) {
                    padding-bottom: 40px;
                    font-size: 32px;
                }
                @media all and (max-width: 600px) {
                    padding-bottom: 20px;
                    font-size: 20px;
                }
            }

            .color-left, .color-right {
                width: 50%;
                float: left;

                @media all and (max-width: 800px) {
                    width: 100%;
                    float: none;
                }

            }

            .color-container {
                padding: 50px 0 50px 50px;

                @media all and (max-width: 1200px){
                    padding: 40px 0 40px 40px;
                }
                @media all and (max-width: 1000px) {
                    padding: 30px 0 30px 30px;
                }
                @media all and (max-width: 600px) {
                    padding: 20px 0 20px 20px;
                }

                h3 {
                    font-size: 30px;
                    font-family: "Segoe UI";
                    color: rgb(0, 0, 0);
                    font-weight: bold;
                    line-height: 1.2;
                    text-align: left;

                    @media all and (max-width: 1200px){
                        font-size: 26px;
                    }
                    @media all and (max-width: 1000px) {
                        font-size: 24px;
                    }
                    @media all and (max-width: 600px) {
                        font-size: 16px;
                    }
                }

                .pointer-container {
                    position: relative;
                    margin: 15px 0;

                    @media all and (max-width: 600px) {
                        margin: 5px 0;
                    }
                    .circle {
                        position: absolute;
                        top: 2.5px;
                        z-index: 1;
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }
                    .line {
                        position: relative;
                        display: inline-block;
                        //vertical-align: middle;
                        width: 70%;
                    }
                    .big-circle {
                        position: absolute;
                        right: 0;
                        top: -70px;
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;

                        @media all and (max-width: 1200px) {
                            top: -50px;
                            width: 80px;
                            height: 80px;
                        }
                        @media all and (max-width: 1000px) {
                            top: -40px;
                            width: 60px;
                            height: 60px;
                        }
                    }
                }

                .black {
                    .circle, .big-circle {
                        color: #000;
                        background-color: #000;
                    }
                    .line {
                        border-bottom: 1px solid #000;
                    }
                }
                .gold-black {
                    .circle, .big-circle {
                        background: -moz-linear-gradient( 0deg, rgb(254,227,125) 0%, rgb(254,233,143) 12%, rgb(249,195,98) 23%, rgb(226,176,87) 28%, rgb(203,156,76) 40%, rgb(163,133,65) 52%, rgb(133,99,45) 60%, rgb(110,82,36) 65%, rgb(78,60,21) 79%, rgb(76,60,24) 84%, rgb(45,31,4) 92%);
                        background: -webkit-linear-gradient( 0deg, rgb(254,227,125) 0%, rgb(254,233,143) 12%, rgb(249,195,98) 23%, rgb(226,176,87) 28%, rgb(203,156,76) 40%, rgb(163,133,65) 52%, rgb(133,99,45) 60%, rgb(110,82,36) 65%, rgb(78,60,21) 79%, rgb(76,60,24) 84%, rgb(45,31,4) 92%);
                        background: -ms-linear-gradient( 0deg, rgb(254,227,125) 0%, rgb(254,233,143) 12%, rgb(249,195,98) 23%, rgb(226,176,87) 28%, rgb(203,156,76) 40%, rgb(163,133,65) 52%, rgb(133,99,45) 60%, rgb(110,82,36) 65%, rgb(78,60,21) 79%, rgb(76,60,24) 84%, rgb(45,31,4) 92%);;
                    }
                    .line {
                        border-bottom: 1px solid rgb(205, 162, 80);
                    }
                }
                .gold {
                    .circle, .big-circle {
                        background-color: rgb(205, 162, 80);
                    }
                    .line {
                        border-bottom: 1px solid rgb(205, 162, 80);
                    }
                }
                .red {
                    .circle, .big-circle {
                        background-color: #a71e23;
                    }
                    .line {
                        border-bottom: 1px solid #a71e23;
                    }
                }
                .green {
                    .circle, .big-circle {
                        background-color: #0c8243;
                    }
                    .line {
                        border-bottom: 1px solid #0c8243;
                    }
                }
                .blue {
                    .circle, .big-circle {
                        background-color: #25509f;
                    }
                    .line {
                        border-bottom: 1px solid #25509f;
                    }
                }

                p {
                    font-size: 24px;
                    font-family: "Segoe UI";
                    color: rgb(150, 150, 150);
                    line-height: 1.2;
                    text-align: left;

                    @media all and (max-width: 1200px){
                        font-size: 20px;
                    }
                    @media all and (max-width: 1000px) {
                        font-size: 18px;
                    }
                    @media all and (max-width: 600px) {
                        font-size: 16px;
                    }
                }
            }
        }
    }

	.concepts-info {
		position: relative;
		background-color: rgb(0, 0, 0);
        padding-bottom: 140px;

		@media all and (max-width: 800px){
			padding-bottom: 70px
		}
		@media all and (max-width: 600px) {
			padding-bottom: 30px
		}

		.container {
			width: $containerWidth;
			margin: 0 auto;

			h2 {
				padding: 60px 0;
				font-size: 60px;
				font-family: "Segoe UI";
				color: rgb(255, 255, 255);
				font-weight: bold;
				line-height: 1.2;
				text-align: center;

				@media all and (max-width: 800px){
					font-size: 36px;
					padding: 40px 0;
				}
				@media all and (max-width: 600px) {
					font-size: 20px;
					padding: 20px 0;
				}
			}

            .concepts-info-title-animate {
                position: relative;
                //left: -100%;
                opacity: 0;
                transition: all 1s;
            }
			.concepts-info-title-animate-active {
				//left: 0;
				opacity: 1;
			}

			p {
				font-size: 24px;
				font-family: "Segoe UI Light";
				color: rgb(255, 255, 255);
				line-height: 1.2;
				text-align: justify;

				@media all and (max-width: 600px){
					font-size: 16px;
				}
			}

            .concepts-info-text-animate {
                opacity: 0;
                transition: all 1s;
            }
			.concepts-info-text-animate-active {
				opacity: 1;
			}
		}
	}

	.summary-header {
		padding: 150px 0;
		font-size: 36px;
		font-family: "Segoe UI";
		color: rgb(0, 0, 0);
		font-weight: bold;
		line-height: 1.2;
		text-align: center;

		@media all and (max-width: 1000px) {
			padding: 100px 0;
		}
		@media all and (max-width: 800px) {
			font-size: 24px;
			padding: 50px 0;
		}
		@media all and (max-width: 600px) {
			font-size: 20px;
			padding: 20px 0;
		}
	}
    .summary-header-animate {
        opacity: 0;
        //left: -100%;
        transition: all 2s;
    }
	.summary-header-animate-active {
		opacity: 1;
		//left: 0;
	}

	.contact-us-form {
		position: relative;
		.container {
			width: $containerWidth;
			margin: 0 auto;

			h1 {
				padding: 70px 0;
				font-size: 60px;
				font-family: "Segoe UI";
				color: rgb(138, 59, 134);
				font-weight: bold;
				text-transform: uppercase;
				line-height: 1.2;
				text-align: center;

				@media all and (max-width: 800px){
					font-size: 30px;
					padding: 30px 0;
				}
				@media all and (max-width: 600px) {
					font-size: 24px;
					padding: 20px 0;
				}
			}
            .contact-us-header-animate {
                position: relative;
                opacity: 0;
                //left: -100%;
                transition: all 2s;
            }
			.contact-us-header-animate-active {
				opacity: 1;
				//left: 0;
			}

			p {
				font-size: 30px;
				font-family: "Segoe UI";
				color: rgb(0, 0, 0);
				line-height: 1.6;
				text-align: justify;

				@media all and (max-width: 800px){
					font-size: 20px;
					line-height: 1.2;
				}
				@media all and (max-width: 600px) {
					font-size: 16px;
					line-height: 1.0;
				}

				span {
					color: rgb(138, 59, 134);
					font-size: 30px;
					font-weight: bold;

					@media all and (max-width: 800px){
						font-size: 20px;
					}
					@media all and (max-width: 600px) {
						font-size: 16px;
					}
				}

				input {
					display: inline-block;
					width: 300px;
					font-size: 30px;
					font-family: "Segoe UI";
					text-align: center;
					color: rgb(0, 0, 0);

					outline: none;
					border: none;
					border-bottom: 2px solid #000;

					@media all and (max-width: 800px){
						width: 200px;
						font-size: 20px;
					}
					@media all and (max-width: 600px) {
						font-size: 16px;
					}
				}
			}

            .contact-us-content-animate {
                position: relative;
                opacity: 0;
                //left: 100%;
                transition: all 2s;
            }
			.contact-us-content-animate-active {
				opacity: 1;
				//left: 0;
			}

			button {
				display: block;
				margin: 90px auto 70px auto;
				padding: 25px 82px;

				font-size: 26px;
				font-family: "Segoe UI";;
				font-weight: 700;
				color: rgb(138, 59, 134);
				text-transform: uppercase;
				line-height: 1.2;
				text-align: center;

                background-color: rgb(255, 204, 0);
				border: none;
				outline: none;
				cursor: pointer;
				transition: all 0.4s;

				@media all and (max-width: 800px){
					padding: 15px 40px;
					margin: 40px auto;
				}
				@media all and (max-width: 600px){
					padding: 15px 40px;
					margin: 20px auto;
					font-size: 20px;
				}
			}
            .submit-btn-animate {
                opacity: 0;
                transition: opacity 1s;
            }
			.submit-btn-animate-active {
				opacity: 1;
			}
			button:hover {
				color: rgb(255, 204, 0);
				//background-color: #000;
                box-shadow: 0 100px 0 0 #000 inset;
			}
		}

		.left-btn, .right-btn {
			position: absolute;
			bottom: 1%;
			z-index: 100;
			background-color: rgba(255, 255, 255, 0.749);
			transition: all 0.4s;
			//width: 74px;
			//height: 344px;

			.fa {
				color: rgb(163, 70, 153);
				font-size: 100px;
				transition: all 0.4s;
			}
		}

		.left-btn:hover, .right-btn:hover {
			background-color: rgb(163, 70, 153);
			.fa {
				color: #fff;
			}
		}

		.left-btn {
			left: 0.1%;
			.fa {
				padding: 15px 15px 15px 10px;
			}
		}

		.right-btn {
			right: 0.1%;
			.fa {
				padding: 15px 10px 15px 15px;
			}
		}

	}

	.get-result-container {
		background-color: rgb(164, 70, 153);
		padding: 40px 0;

		@media all and (max-width: 600px) {
			padding: 20px 0;
		}

		.container {
			width: $containerWidth;
			margin: 0 auto;

			.result-left {
				width: 70%;
				float: left;
				text-align: center;

				h2 {
					padding-top: 10px;
					font-size: 30px;
					font-family: "Segoe UI";
					color: rgb(255, 255, 255);
					font-weight: bold;
					line-height: 1.2;
					text-align: center;

					@media all and (max-width: 600px) {
						font-size: 20px;
					}
				}

				@media all and (max-width: 1000px) {
					width: 100%;
					float: none;
					margin: 0 auto;
				}
			}

			.result-right {
				width: 30%;
				float: left;
				text-align: center;

				button {
					padding: 20px 15px;

					font-size: 20px;
					font-family: "Segoe UI";
					color: rgb(164, 70, 153);
                    background-color: rgb(255, 204, 0);
					font-weight: bold;
					text-transform: uppercase;
					line-height: 1.2;
					text-align: center;

					border: none;
					outline: none;
					cursor: pointer;

					transition: all 0.4s;

                    -webkit-animation: brifMove 1s 5; /* Safari 4.0 - 8.0 */
                    animation: brifMove 1s 5;
                    //animation-delay: 5s;
                    animation-fill-mode: both;
                    animation-timing-function: cubic-bezier(.215,.61,.355,1);

					@media all and (max-width: 600px) {
						padding: 15px 10px;
						font-size: 16px;
					}
				}

                @keyframes brifMove {
                    0% {
                        opacity: 0;
                        -webkit-transform: scale3d(.3,.3,.3);
                        transform: scale3d(.3,.3,.3);
                    }
                    20% {
                        -webkit-transform: scale3d(1.1,1.1,1.1);
                        transform: scale3d(1.1,1.1,1.1);
                    }
                    40% {
                        -webkit-transform: scale3d(.9,.9,.9);
                        transform: scale3d(.9,.9,.9);
                    }
                    60% {
                        opacity: 1;
                        -webkit-transform: scale3d(1.03,1.03,1.03);
                        transform: scale3d(1.03,1.03,1.03);
                    }
                    80% {
                        -webkit-transform: scale3d(.97,.97,.97);
                        transform: scale3d(.97,.97,.97);
                    }
                    100% {
                        opacity: 1;
                        -webkit-transform: scale3d(1,1,1);
                        transform: scale3d(1,1,1);
                    }
                }
				button:hover {
                    color: rgb(255, 204, 0);
                    //background-color: #000;
                    box-shadow: 0 100px 0 0 #000 inset;
				}

				@media all and (max-width: 1000px) {
					width: 100%;
					float: none;
					margin: 30px auto 0 auto;
				}

			}

		}
	}

	.social-btns-container {
		background-color: #000;
		.container {
			width: 100%;
			margin: 0 auto;

			text-align: center;

			.like {
				margin: 0 auto;
				max-width: 60%;

				@media only screen and (max-width: 767px) {
					max-width: 100%;
				}

				a {
					float: left;
					text-align: center;
					width: 20%;
					background-color: #000;
					-webkit-transition: all 0.35s ease;
					-moz-transition: all 0.35s ease;
					-o-transition: all 0.35s ease;
					transition: all 0.35s ease;

					img {
						display: block;
						width: 100%;
						max-width: 100%;
						height: auto;
						transition: all 0.35s;
					}
				}
				a:hover {
					img {
						transform: rotate(360deg);
					}
				}
				.fb:hover {
					background-color: #6578C6;

				}
				.gp:hover {
					background-color: #DC4A33;
				}
				.in:hover{
					background-color: #017EB4;
				}
				.tw:hover {
					background-color: #49C8F5;
				}
				.ig:hover {
					background-color: #3E739D;
				}
			}
		}
	}
}
