@charset "UTF-8";
html, body {
  padding: 0;
  margin: 0;
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  text-align: center; }

.verical-align {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.main-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1920px; }

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100500;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #ffffff url("../images/preloader.gif") no-repeat center center; }

.back-to-top {
  display: block;
  position: fixed;
  z-index: 100500;
  right: 20px;
  background-color: rgba(34, 61, 98, 0.3);
  color: #fff;
  cursor: pointer;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  opacity: 1;
  bottom: 20px; }
  .back-to-top img {
    padding: 25px 20px; }
    @media screen and (max-width: 600px) {
      .back-to-top img {
        padding: 15px 10px; } }

.search-container {
  position: fixed;
  bottom: 90px;
  z-index: 100500;
  right: 20px; }
  @media screen and (max-width: 600px) {
    .search-container {
      bottom: 70px; } }
  .search-container .input-container {
    opacity: 0;
    transition: all 0.4s; }
    .search-container .input-container input {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 100%;
      height: 67px;
      width: 30vw;
      padding: 0 20px;
      font-size: 20px;
      font-family: "Segoe UI";
      color: #f0cf16;
      background-color: #262626;
      line-height: 1.2;
      text-align: center;
      border: 0;
      outline: none; }
      @media screen and (max-width: 1000px) {
        .search-container .input-container input {
          width: 60vw; } }
      @media screen and (max-width: 600px) {
        .search-container .input-container input {
          height: 47px;
          width: 80vw;
          padding: 0 2px; } }
  .search-container .search-btn {
    display: inline-block;
    position: relative;
    top: 0;
    background-color: rgba(34, 61, 98, 0.3);
    border: none;
    outline: none;
    -webkit-transition: all .35s ease;
    transition: all .35s ease; }
    .search-container .search-btn img {
      padding: 20px; }
      @media screen and (max-width: 600px) {
        .search-container .search-btn img {
          padding: 10px; } }

.search-container:hover .input-container {
  opacity: 1; }

.back-to-top:hover, .search-btn:hover {
  background-color: #f0cf16; }

.back-to-top-visible, .search-btn-visible {
  opacity: 1; }

#indelika .bg-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; }
  #indelika .bg-container .dark-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(60, 60, 60, 0.5);
    z-index: 2; }
  #indelika .bg-container h1 {
    font-size: 80px;
    font-family: "Segoe UI";
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.004);
    position: absolute;
    top: 30%;
    z-index: 60;
    width: 100%; }
    @media all and (max-width: 1000px) {
      #indelika .bg-container h1 {
        font-size: 60px;
        top: 15%; } }
    @media all and (max-width: 700px) {
      #indelika .bg-container h1 {
        font-size: 40px;
        top: 30%; } }
    @media all and (max-width: 500px) {
      #indelika .bg-container h1 {
        font-size: 20px;
        top: 30%; } }
  #indelika .bg-container .top-title-animate {
    opacity: 0;
    transition: all 2s; }
  #indelika .bg-container .top-title-animate-active {
    opacity: 1; }
#indelika .image-top {
  background-image: url("../images/SLIDEMAIN.jpg"); }
#indelika .image-third {
  background-size: auto;
  background-position: center center;
  background-color: #000;
  background-attachment: scroll;
  background-image: url("../images/ИНДЕЛИКА-ВИЗ-1.jpg"); }
#indelika .image-fourth {
  background-size: auto;
  background-position: center center;
  background-color: #000;
  background-attachment: scroll;
  background-image: url("../images/ИНДЕЛИКА-ВИЗ-2.jpg"); }
#indelika .image-fifth {
  background-size: auto;
  background-position: center center;
  background-color: #000;
  background-attachment: scroll;
  background-image: url("../images/ИНДЕЛИКА-ВИЗ-3.jpg"); }
#indelika .logo-container {
  background-color: #000; }
#indelika .image-container {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  text-align: center; }
  #indelika .image-container .dark-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(60, 60, 60, 0.5);
    z-index: 2; }
  #indelika .image-container .big-image {
    width: 100%;
    position: relative; }
  #indelika .image-container .image-second {
    padding: 50px 10px 10px 10px;
    height: 70vh;
    width: auto;
    background-color: #000; }
    @media all and (max-width: 600px) {
      #indelika .image-container .image-second {
        height: 50vh; } }
  #indelika .image-container .third-image .image-cont-left {
    display: inline-block;
    width: 50%; }
    #indelika .image-container .third-image .image-cont-left .image-left {
      vertical-align: bottom; }
    #indelika .image-container .third-image .image-cont-left .image-left-animate {
      opacity: 0;
      left: -100%;
      transition: all 1s; }
  #indelika .image-container .third-image .image-cont-right {
    display: inline-block;
    width: 50%; }
    #indelika .image-container .third-image .image-cont-right .image-right {
      height: auto;
      vertical-align: bottom; }
    #indelika .image-container .third-image .image-cont-right .image-right-animate {
      opacity: 0;
      left: 100%;
      transition: all 1.5s; }
  #indelika .image-container .top-image-animate {
    opacity: 0;
    transition: all 2s; }
  #indelika .image-container .second-image-animate {
    opacity: 0;
    transition: all 2s; }
  #indelika .image-container .fourth-image-animate {
    opacity: 0;
    transition: all 2s; }
  #indelika .image-container .image-animate-active {
    opacity: 1 !important;
    left: 0 !important; }
#indelika .slider-cont {
  position: relative;
  width: 100%;
  height: calc(100vh - 10px);
  background-color: #747474;
  overflow-x: hidden; }
  #indelika .slider-cont .slider {
    position: relative;
    width: 500%;
    height: calc(100vh - 10px);
    text-align: center;
    margin: 0px;
    padding: 0px;
    list-style-type: none; }
    #indelika .slider-cont .slider li {
      position: absolute;
      top: 0;
      display: inline-block;
      float: left;
      width: calc(100% / 5);
      height: calc(100vh - 10px);
      font-size: 35px;
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover; }
      #indelika .slider-cont .slider li .slider-dark-mask {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgba(60, 60, 60, 0.5); }
        #indelika .slider-cont .slider li .slider-dark-mask .slider-text, #indelika .slider-cont .slider li .slider-dark-mask .slider-image {
          display: inline-block;
          width: 50%; }
        #indelika .slider-cont .slider li .slider-dark-mask .slider-text h2 {
          font-size: 36px;
          font-family: "Segoe UI";
          color: black;
          font-weight: bold;
          line-height: 1.2;
          text-align: center;
          margin-bottom: 20px; }
          @media all and (max-width: 600px) {
            #indelika .slider-cont .slider li .slider-dark-mask .slider-text h2 {
              font-size: 20px; } }
        #indelika .slider-cont .slider li .slider-dark-mask .slider-text p {
          font-size: 24px;
          font-family: "Segoe UI Light";
          color: white;
          line-height: 1.2;
          text-align: justify; }
          #indelika .slider-cont .slider li .slider-dark-mask .slider-text p span {
            font-size: inherit;
            font-weight: bold; }
          @media all and (max-width: 600px) {
            #indelika .slider-cont .slider li .slider-dark-mask .slider-text p {
              font-size: 16px; } }
        #indelika .slider-cont .slider li .slider-dark-mask .slider-text .read-more-btn {
          display: inline-block;
          font-size: 30px;
          font-family: "Segoe UI";
          color: #f0cf16;
          text-decoration: underline;
          line-height: 1.2;
          text-align: center;
          cursor: pointer;
          margin: 30px 0 10px 0; }
          @media all and (max-width: 600px) {
            #indelika .slider-cont .slider li .slider-dark-mask .slider-text .read-more-btn {
              font-size: 20px;
              margin: 10px 0 0 0; } }
    #indelika .slider-cont .slider li:nth-child(1) {
      left: -20%;
      background-image: url(../images/SLIDEMAIN.jpg); }
    #indelika .slider-cont .slider li:nth-child(2) {
      left: 0;
      background-image: url(../images/ИНДЕЛИКА-КОНЦЕПТ-№1.jpg); }
    #indelika .slider-cont .slider li:nth-child(3) {
      left: 20%;
      background-image: url(../images/ИНДЕЛИКА-ВИЗ-2.jpg); }
    #indelika .slider-cont .slider li:nth-child(4) {
      left: 40%;
      background-image: url(../images/ИНДЕЛИКА-ВИЗ-3.jpg); }
    #indelika .slider-cont .slider li:nth-child(5) {
      left: 60%;
      background-image: url(../images/ИНДЕЛИКА-ВИЗ-4.jpg); }
  #indelika .slider-cont .slider_left_btn, #indelika .slider-cont .slider_right_btn {
    position: absolute;
    width: 75px;
    height: 145px;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 10;
    transition: all 0.4s; }
    @media screen and (max-width: 800px) {
      #indelika .slider-cont .slider_left_btn, #indelika .slider-cont .slider_right_btn {
        width: 38px;
        height: 72px; } }
  #indelika .slider-cont .slider_left_btn {
    bottom: 50%;
    left: 2%;
    background-image: url("../images/slide_left_black.png"); }
    @media screen and (max-width: 800px) {
      #indelika .slider-cont .slider_left_btn {
        background-image: url("../images/slide_left_black_mob.png"); } }
  #indelika .slider-cont .slider_right_btn {
    bottom: 50%;
    right: 2%;
    background-image: url("../images/slide_right_black.png"); }
    @media screen and (max-width: 800px) {
      #indelika .slider-cont .slider_right_btn {
        background-image: url("../images/slide_right_black_mob.png"); } }
  #indelika .slider-cont .slider_left_btn:hover {
    background-image: url("../images/slide_left_black_hover.png"); }
    @media screen and (max-width: 800px) {
      #indelika .slider-cont .slider_left_btn:hover {
        background-image: url("../images/slide_left_black_mob_hover.png"); } }
  #indelika .slider-cont .slider_right_btn:hover {
    background-image: url("../images/slide_right_black_hover.png"); }
    @media screen and (max-width: 800px) {
      #indelika .slider-cont .slider_right_btn:hover {
        background-image: url("../images/slide_right_black_mob_hover.png"); } }
  #indelika .slider-cont .slider-nav {
    display: block;
    position: absolute;
    bottom: 10%;
    left: 50%;
    margin-left: -129px;
    z-index: 10; }
    @media screen and (max-width: 800px) {
      #indelika .slider-cont .slider-nav {
        display: none; } }
    #indelika .slider-cont .slider-nav .slider-nav-list li {
      display: inline-block;
      padding: 10px;
      position: relative; }
      #indelika .slider-cont .slider-nav .slider-nav-list li .pagination-btn .fa {
        color: #000;
        cursor: pointer; }
      #indelika .slider-cont .slider-nav .slider-nav-list li .pagination-btn .fa-circle-thin {
        font-size: 30px; }
      #indelika .slider-cont .slider-nav .slider-nav-list li .pagination-btn .fa-circle {
        font-size: 15px;
        opacity: 0;
        transition: all 0.3s; }
      #indelika .slider-cont .slider-nav .slider-nav-list li .active .fa-circle, #indelika .slider-cont .slider-nav .slider-nav-list li .pagination-btn:hover .fa-circle {
        opacity: 1; }
#indelika .info-block-container .container {
  width: 80%;
  margin: 0 auto;
  padding: 60px 0; }
  @media all and (max-width: 600px) {
    #indelika .info-block-container .container {
      padding: 20px 0; } }
  #indelika .info-block-container .container .info-left {
    width: 50%;
    float: left; }
    #indelika .info-block-container .container .info-left h2 {
      font-size: 36px;
      font-family: "Segoe UI";
      color: black;
      font-weight: bold;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 20px; }
      @media all and (max-width: 600px) {
        #indelika .info-block-container .container .info-left h2 {
          font-size: 20px; } }
    #indelika .info-block-container .container .info-left .info-title-animate {
      position: relative;
      opacity: 0;
      transition: all 1s; }
    #indelika .info-block-container .container .info-left .info-title-animate-active {
      opacity: 1; }
    @media all and (max-width: 800px) {
      #indelika .info-block-container .container .info-left {
        width: 100%;
        float: none;
        margin: 0 auto; } }
  #indelika .info-block-container .container .info-right {
    width: 50%;
    float: left; }
    #indelika .info-block-container .container .info-right p {
      font-size: 20px;
      font-family: "Segoe UI";
      font-weight: lighter;
      color: #505050;
      line-height: 1.2;
      text-align: justify;
      text-indent: 40px;
      opacity: 1; }
      #indelika .info-block-container .container .info-right p span {
        font-size: inherit;
        font-weight: bold; }
      @media all and (max-width: 600px) {
        #indelika .info-block-container .container .info-right p {
          font-size: 16px; } }
    #indelika .info-block-container .container .info-right .for-read-more {
      display: none; }
    #indelika .info-block-container .container .info-right .for-read-more-visible {
      display: block; }
    #indelika .info-block-container .container .info-right .read-more-btn {
      display: inline-block;
      font-size: 30px;
      font-family: "Segoe UI";
      color: #f0cf16;
      text-decoration: underline;
      line-height: 1.2;
      text-align: center;
      cursor: pointer;
      margin: 30px 0 10px 0; }
      @media all and (max-width: 600px) {
        #indelika .info-block-container .container .info-right .read-more-btn {
          font-size: 20px;
          margin: 10px 0 0 0; } }
    #indelika .info-block-container .container .info-right .info-text-animate {
      opacity: 0;
      transition: all 1s; }
    #indelika .info-block-container .container .info-right .info-text-animate-active {
      opacity: 1; }
    @media all and (max-width: 800px) {
      #indelika .info-block-container .container .info-right {
        width: 100%;
        float: none;
        margin: 0 auto; }
        #indelika .info-block-container .container .info-right .read-more-btn {
          display: block; } }
#indelika .info-history {
  background-color: #000; }
  #indelika .info-history h2, #indelika .info-history p {
    color: #fff !important; }
#indelika .info-solution {
  position: relative; }
  #indelika .info-solution .container {
    margin-bottom: 35vh; }
#indelika .stickers-block-container {
  position: relative;
  padding: 30vh 0 100px 0;
  background-image: -moz-linear-gradient(0deg, #232323 0%, #040404 100%);
  background-image: -webkit-linear-gradient(0deg, #232323 0%, #040404 100%);
  background-image: -ms-linear-gradient(0deg, #232323 0%, #040404 100%);
  background-image: linear-gradient(0deg, #232323 0%, #040404 100%); }
  #indelika .stickers-block-container .image-fifth {
    position: absolute;
    left: 10%;
    top: -35vh;
    height: 60vh;
    width: 80%;
    background-image: url("../images/LABEL-PICTURE.png");
    background-attachment: scroll; }
  #indelika .stickers-block-container h2 {
    padding: 0 0 80px 0;
    font-size: 48px;
    font-family: "Segoe UI";
    color: white;
    font-weight: bold;
    line-height: 1.2;
    text-align: center; }
    @media all and (max-width: 1000px) {
      #indelika .stickers-block-container h2 {
        font-size: 32px; } }
    @media all and (max-width: 800px) {
      #indelika .stickers-block-container h2 {
        font-size: 26px; } }
    @media all and (max-width: 600px) {
      #indelika .stickers-block-container h2 {
        font-size: 24px; } }
  #indelika .stickers-block-container .sticker-name {
    font-size: 36px;
    font-family: "AFuturaRoundBold";
    font-weight: bold;
    color: #cda250;
    line-height: 1.2;
    text-align: center; }
    @media all and (max-width: 1000px) {
      #indelika .stickers-block-container .sticker-name {
        font-size: 30px; } }
    @media all and (max-width: 800px) {
      #indelika .stickers-block-container .sticker-name {
        font-size: 24px; } }
    @media all and (max-width: 600px) {
      #indelika .stickers-block-container .sticker-name {
        font-size: 20px; } }
  #indelika .stickers-block-container .sticker-text {
    padding: 40px 0 50px 0;
    font-size: 30px;
    font-family: "VacansiaC";
    color: #cda250;
    font-weight: bold;
    line-height: 1.2;
    text-align: center; }
    @media all and (max-width: 1000px) {
      #indelika .stickers-block-container .sticker-text {
        font-size: 24px; } }
    @media all and (max-width: 800px) {
      #indelika .stickers-block-container .sticker-text {
        font-size: 20px; } }
    @media all and (max-width: 600px) {
      #indelika .stickers-block-container .sticker-text {
        font-size: 16px; } }
  #indelika .stickers-block-container .sticker-info {
    font-size: 30px;
    font-family: "Arial";
    font-weight: normal;
    color: #cda250;
    line-height: 1.2;
    text-align: center; }
    @media all and (max-width: 1000px) {
      #indelika .stickers-block-container .sticker-info {
        font-size: 24px; } }
    @media all and (max-width: 800px) {
      #indelika .stickers-block-container .sticker-info {
        font-size: 20px; } }
    @media all and (max-width: 600px) {
      #indelika .stickers-block-container .sticker-info {
        font-size: 16px; } }
#indelika .stickers-colors-container {
  background-color: #fff;
  padding: 80px 0; }
  @media all and (max-width: 600px) {
    #indelika .stickers-colors-container {
      padding: 20px 0; } }
  #indelika .stickers-colors-container .container {
    width: 80%;
    margin: 0 auto; }
    #indelika .stickers-colors-container .container h2 {
      padding-bottom: 80px;
      font-size: 48px;
      font-family: "Segoe UI";
      color: black;
      font-weight: bold;
      line-height: 1.2;
      text-align: center; }
      @media all and (max-width: 1200px) {
        #indelika .stickers-colors-container .container h2 {
          padding-bottom: 60px;
          font-size: 40px; } }
      @media all and (max-width: 1000px) {
        #indelika .stickers-colors-container .container h2 {
          padding-bottom: 40px;
          font-size: 32px; } }
      @media all and (max-width: 600px) {
        #indelika .stickers-colors-container .container h2 {
          padding-bottom: 20px;
          font-size: 20px; } }
    #indelika .stickers-colors-container .container .color-left, #indelika .stickers-colors-container .container .color-right {
      width: 50%;
      float: left; }
      @media all and (max-width: 800px) {
        #indelika .stickers-colors-container .container .color-left, #indelika .stickers-colors-container .container .color-right {
          width: 100%;
          float: none; } }
    #indelika .stickers-colors-container .container .color-container {
      padding: 50px 0 50px 50px; }
      @media all and (max-width: 1200px) {
        #indelika .stickers-colors-container .container .color-container {
          padding: 40px 0 40px 40px; } }
      @media all and (max-width: 1000px) {
        #indelika .stickers-colors-container .container .color-container {
          padding: 30px 0 30px 30px; } }
      @media all and (max-width: 600px) {
        #indelika .stickers-colors-container .container .color-container {
          padding: 20px 0 20px 20px; } }
      #indelika .stickers-colors-container .container .color-container h3 {
        font-size: 30px;
        font-family: "Segoe UI";
        color: black;
        font-weight: bold;
        line-height: 1.2;
        text-align: left; }
        @media all and (max-width: 1200px) {
          #indelika .stickers-colors-container .container .color-container h3 {
            font-size: 26px; } }
        @media all and (max-width: 1000px) {
          #indelika .stickers-colors-container .container .color-container h3 {
            font-size: 24px; } }
        @media all and (max-width: 600px) {
          #indelika .stickers-colors-container .container .color-container h3 {
            font-size: 16px; } }
      #indelika .stickers-colors-container .container .color-container .pointer-container {
        position: relative;
        margin: 15px 0; }
        @media all and (max-width: 600px) {
          #indelika .stickers-colors-container .container .color-container .pointer-container {
            margin: 5px 0; } }
        #indelika .stickers-colors-container .container .color-container .pointer-container .circle {
          position: absolute;
          top: 2.5px;
          z-index: 1;
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%; }
        #indelika .stickers-colors-container .container .color-container .pointer-container .line {
          position: relative;
          display: inline-block;
          width: 70%; }
        #indelika .stickers-colors-container .container .color-container .pointer-container .big-circle {
          position: absolute;
          right: 0;
          top: -70px;
          width: 100px;
          height: 100px;
          border-radius: 50%; }
          @media all and (max-width: 1200px) {
            #indelika .stickers-colors-container .container .color-container .pointer-container .big-circle {
              top: -50px;
              width: 80px;
              height: 80px; } }
          @media all and (max-width: 1000px) {
            #indelika .stickers-colors-container .container .color-container .pointer-container .big-circle {
              top: -40px;
              width: 60px;
              height: 60px; } }
      #indelika .stickers-colors-container .container .color-container .black .circle, #indelika .stickers-colors-container .container .color-container .black .big-circle {
        color: #000;
        background-color: #000; }
      #indelika .stickers-colors-container .container .color-container .black .line {
        border-bottom: 1px solid #000; }
      #indelika .stickers-colors-container .container .color-container .gold-black .circle, #indelika .stickers-colors-container .container .color-container .gold-black .big-circle {
        background: -moz-linear-gradient(0deg, #fee37d 0%, #fee98f 12%, #f9c362 23%, #e2b057 28%, #cb9c4c 40%, #a38541 52%, #85632d 60%, #6e5224 65%, #4e3c15 79%, #4c3c18 84%, #2d1f04 92%);
        background: -webkit-linear-gradient(0deg, #fee37d 0%, #fee98f 12%, #f9c362 23%, #e2b057 28%, #cb9c4c 40%, #a38541 52%, #85632d 60%, #6e5224 65%, #4e3c15 79%, #4c3c18 84%, #2d1f04 92%);
        background: -ms-linear-gradient(0deg, #fee37d 0%, #fee98f 12%, #f9c362 23%, #e2b057 28%, #cb9c4c 40%, #a38541 52%, #85632d 60%, #6e5224 65%, #4e3c15 79%, #4c3c18 84%, #2d1f04 92%); }
      #indelika .stickers-colors-container .container .color-container .gold-black .line {
        border-bottom: 1px solid #cda250; }
      #indelika .stickers-colors-container .container .color-container .gold .circle, #indelika .stickers-colors-container .container .color-container .gold .big-circle {
        background-color: #cda250; }
      #indelika .stickers-colors-container .container .color-container .gold .line {
        border-bottom: 1px solid #cda250; }
      #indelika .stickers-colors-container .container .color-container .red .circle, #indelika .stickers-colors-container .container .color-container .red .big-circle {
        background-color: #a71e23; }
      #indelika .stickers-colors-container .container .color-container .red .line {
        border-bottom: 1px solid #a71e23; }
      #indelika .stickers-colors-container .container .color-container .green .circle, #indelika .stickers-colors-container .container .color-container .green .big-circle {
        background-color: #0c8243; }
      #indelika .stickers-colors-container .container .color-container .green .line {
        border-bottom: 1px solid #0c8243; }
      #indelika .stickers-colors-container .container .color-container .blue .circle, #indelika .stickers-colors-container .container .color-container .blue .big-circle {
        background-color: #25509f; }
      #indelika .stickers-colors-container .container .color-container .blue .line {
        border-bottom: 1px solid #25509f; }
      #indelika .stickers-colors-container .container .color-container p {
        font-size: 24px;
        font-family: "Segoe UI";
        color: #969696;
        line-height: 1.2;
        text-align: left; }
        @media all and (max-width: 1200px) {
          #indelika .stickers-colors-container .container .color-container p {
            font-size: 20px; } }
        @media all and (max-width: 1000px) {
          #indelika .stickers-colors-container .container .color-container p {
            font-size: 18px; } }
        @media all and (max-width: 600px) {
          #indelika .stickers-colors-container .container .color-container p {
            font-size: 16px; } }
#indelika .concepts-info {
  position: relative;
  background-color: black;
  padding-bottom: 140px; }
  @media all and (max-width: 800px) {
    #indelika .concepts-info {
      padding-bottom: 70px; } }
  @media all and (max-width: 600px) {
    #indelika .concepts-info {
      padding-bottom: 30px; } }
  #indelika .concepts-info .container {
    width: 80%;
    margin: 0 auto; }
    #indelika .concepts-info .container h2 {
      padding: 60px 0;
      font-size: 60px;
      font-family: "Segoe UI";
      color: white;
      font-weight: bold;
      line-height: 1.2;
      text-align: center; }
      @media all and (max-width: 800px) {
        #indelika .concepts-info .container h2 {
          font-size: 36px;
          padding: 40px 0; } }
      @media all and (max-width: 600px) {
        #indelika .concepts-info .container h2 {
          font-size: 20px;
          padding: 20px 0; } }
    #indelika .concepts-info .container .concepts-info-title-animate {
      position: relative;
      opacity: 0;
      transition: all 1s; }
    #indelika .concepts-info .container .concepts-info-title-animate-active {
      opacity: 1; }
    #indelika .concepts-info .container p {
      font-size: 24px;
      font-family: "Segoe UI Light";
      color: white;
      line-height: 1.2;
      text-align: justify; }
      @media all and (max-width: 600px) {
        #indelika .concepts-info .container p {
          font-size: 16px; } }
    #indelika .concepts-info .container .concepts-info-text-animate {
      opacity: 0;
      transition: all 1s; }
    #indelika .concepts-info .container .concepts-info-text-animate-active {
      opacity: 1; }
#indelika .summary-header {
  padding: 150px 0;
  font-size: 36px;
  font-family: "Segoe UI";
  color: black;
  font-weight: bold;
  line-height: 1.2;
  text-align: center; }
  @media all and (max-width: 1000px) {
    #indelika .summary-header {
      padding: 100px 0; } }
  @media all and (max-width: 800px) {
    #indelika .summary-header {
      font-size: 24px;
      padding: 50px 0; } }
  @media all and (max-width: 600px) {
    #indelika .summary-header {
      font-size: 20px;
      padding: 20px 0; } }
#indelika .summary-header-animate {
  opacity: 0;
  transition: all 2s; }
#indelika .summary-header-animate-active {
  opacity: 1; }
#indelika .contact-us-form {
  position: relative; }
  #indelika .contact-us-form .container {
    width: 80%;
    margin: 0 auto; }
    #indelika .contact-us-form .container h1 {
      padding: 70px 0;
      font-size: 60px;
      font-family: "Segoe UI";
      color: #8a3b86;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: center; }
      @media all and (max-width: 800px) {
        #indelika .contact-us-form .container h1 {
          font-size: 30px;
          padding: 30px 0; } }
      @media all and (max-width: 600px) {
        #indelika .contact-us-form .container h1 {
          font-size: 24px;
          padding: 20px 0; } }
    #indelika .contact-us-form .container .contact-us-header-animate {
      position: relative;
      opacity: 0;
      transition: all 2s; }
    #indelika .contact-us-form .container .contact-us-header-animate-active {
      opacity: 1; }
    #indelika .contact-us-form .container p {
      font-size: 30px;
      font-family: "Segoe UI";
      color: black;
      line-height: 1.6;
      text-align: justify; }
      @media all and (max-width: 800px) {
        #indelika .contact-us-form .container p {
          font-size: 20px;
          line-height: 1.2; } }
      @media all and (max-width: 600px) {
        #indelika .contact-us-form .container p {
          font-size: 16px;
          line-height: 1.0; } }
      #indelika .contact-us-form .container p span {
        color: #8a3b86;
        font-size: 30px;
        font-weight: bold; }
        @media all and (max-width: 800px) {
          #indelika .contact-us-form .container p span {
            font-size: 20px; } }
        @media all and (max-width: 600px) {
          #indelika .contact-us-form .container p span {
            font-size: 16px; } }
      #indelika .contact-us-form .container p input {
        display: inline-block;
        width: 300px;
        font-size: 30px;
        font-family: "Segoe UI";
        text-align: center;
        color: black;
        outline: none;
        border: none;
        border-bottom: 2px solid #000; }
        @media all and (max-width: 800px) {
          #indelika .contact-us-form .container p input {
            width: 200px;
            font-size: 20px; } }
        @media all and (max-width: 600px) {
          #indelika .contact-us-form .container p input {
            font-size: 16px; } }
    #indelika .contact-us-form .container .contact-us-content-animate {
      position: relative;
      opacity: 0;
      transition: all 2s; }
    #indelika .contact-us-form .container .contact-us-content-animate-active {
      opacity: 1; }
    #indelika .contact-us-form .container button {
      display: block;
      margin: 90px auto 70px auto;
      padding: 25px 82px;
      font-size: 26px;
      font-family: "Segoe UI";
      font-weight: 700;
      color: #8a3b86;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: center;
      background-color: #ffcc00;
      border: none;
      outline: none;
      cursor: pointer;
      transition: all 0.4s; }
      @media all and (max-width: 800px) {
        #indelika .contact-us-form .container button {
          padding: 15px 40px;
          margin: 40px auto; } }
      @media all and (max-width: 600px) {
        #indelika .contact-us-form .container button {
          padding: 15px 40px;
          margin: 20px auto;
          font-size: 20px; } }
    #indelika .contact-us-form .container .submit-btn-animate {
      opacity: 0;
      transition: opacity 1s; }
    #indelika .contact-us-form .container .submit-btn-animate-active {
      opacity: 1; }
    #indelika .contact-us-form .container button:hover {
      color: #ffcc00;
      box-shadow: 0 100px 0 0 #000 inset; }
  #indelika .contact-us-form .left-btn, #indelika .contact-us-form .right-btn {
    position: absolute;
    bottom: 1%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.749);
    transition: all 0.4s; }
    #indelika .contact-us-form .left-btn .fa, #indelika .contact-us-form .right-btn .fa {
      color: #a34699;
      font-size: 100px;
      transition: all 0.4s; }
  #indelika .contact-us-form .left-btn:hover, #indelika .contact-us-form .right-btn:hover {
    background-color: #a34699; }
    #indelika .contact-us-form .left-btn:hover .fa, #indelika .contact-us-form .right-btn:hover .fa {
      color: #fff; }
  #indelika .contact-us-form .left-btn {
    left: 0.1%; }
    #indelika .contact-us-form .left-btn .fa {
      padding: 15px 15px 15px 10px; }
  #indelika .contact-us-form .right-btn {
    right: 0.1%; }
    #indelika .contact-us-form .right-btn .fa {
      padding: 15px 10px 15px 15px; }
#indelika .get-result-container {
  background-color: #a44699;
  padding: 40px 0; }
  @media all and (max-width: 600px) {
    #indelika .get-result-container {
      padding: 20px 0; } }
  #indelika .get-result-container .container {
    width: 80%;
    margin: 0 auto; }
    #indelika .get-result-container .container .result-left {
      width: 70%;
      float: left;
      text-align: center; }
      #indelika .get-result-container .container .result-left h2 {
        padding-top: 10px;
        font-size: 30px;
        font-family: "Segoe UI";
        color: white;
        font-weight: bold;
        line-height: 1.2;
        text-align: center; }
        @media all and (max-width: 600px) {
          #indelika .get-result-container .container .result-left h2 {
            font-size: 20px; } }
      @media all and (max-width: 1000px) {
        #indelika .get-result-container .container .result-left {
          width: 100%;
          float: none;
          margin: 0 auto; } }
    #indelika .get-result-container .container .result-right {
      width: 30%;
      float: left;
      text-align: center; }
      #indelika .get-result-container .container .result-right button {
        padding: 20px 15px;
        font-size: 20px;
        font-family: "Segoe UI";
        color: #a44699;
        background-color: #ffcc00;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all 0.4s;
        -webkit-animation: brifMove 1s 5;
        /* Safari 4.0 - 8.0 */
        animation: brifMove 1s 5;
        animation-fill-mode: both;
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
        @media all and (max-width: 600px) {
          #indelika .get-result-container .container .result-right button {
            padding: 15px 10px;
            font-size: 16px; } }
@keyframes brifMove {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
      #indelika .get-result-container .container .result-right button:hover {
        color: #ffcc00;
        box-shadow: 0 100px 0 0 #000 inset; }
      @media all and (max-width: 1000px) {
        #indelika .get-result-container .container .result-right {
          width: 100%;
          float: none;
          margin: 30px auto 0 auto; } }
#indelika .social-btns-container {
  background-color: #000; }
  #indelika .social-btns-container .container {
    width: 100%;
    margin: 0 auto;
    text-align: center; }
    #indelika .social-btns-container .container .like {
      margin: 0 auto;
      max-width: 60%; }
      @media only screen and (max-width: 767px) {
        #indelika .social-btns-container .container .like {
          max-width: 100%; } }
      #indelika .social-btns-container .container .like a {
        float: left;
        text-align: center;
        width: 20%;
        background-color: #000;
        -webkit-transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease; }
        #indelika .social-btns-container .container .like a img {
          display: block;
          width: 100%;
          max-width: 100%;
          height: auto;
          transition: all 0.35s; }
      #indelika .social-btns-container .container .like a:hover img {
        transform: rotate(360deg); }
      #indelika .social-btns-container .container .like .fb:hover {
        background-color: #6578C6; }
      #indelika .social-btns-container .container .like .gp:hover {
        background-color: #DC4A33; }
      #indelika .social-btns-container .container .like .in:hover {
        background-color: #017EB4; }
      #indelika .social-btns-container .container .like .tw:hover {
        background-color: #49C8F5; }
      #indelika .social-btns-container .container .like .ig:hover {
        background-color: #3E739D; }

/*# sourceMappingURL=indelika.css.map */
