@import "fonts";
@import "mixins";
@import "icons";

$mobileWidth: 768px;
$transitionTime: 0.4s;
$sectionPadding: 10vh;

$yellowColor: #ffed00;
$greenLightColor: #dffabb;
$greenDarkColor: #008842;
$brownColor: #45221f;
$redColor: #aa201a;


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    background-color: #fff;
    overflow-x: hidden;
}

.scroll-lock {
    overflow-y: hidden;
    //position: fixed;
}

.container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 0;

    @include mediaMaxWidth($mobileWidth) {
        width: 95%;
    }
}

.clearfix::after, .container::after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color: inherit;
}

.vertical-align {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.bg-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;

    @include transition(1s);

    .dark-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(60, 60, 60, 0.5);
        z-index: 2; }
}

.full-cont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .left-cont, .right-cont {
       width: 50%;
    }

    @include mediaMaxWidth(992px) {
        .left-cont, .right-cont {
            width: 100%;
        }
    }
}

.menu-hidden {
    transform: translateY(-100%);
    //top: -120px;
}
.menu-visible {
    //top: 0;
    transform: translateY(0);
}

header {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: #fff;

    @include transition($transitionTime);

    .container {
        @include mediaMaxWidth(1600px) {
            width: 90%;
        }
    }

    .logo-cont {
        display: inline-block;
        vertical-align: top;
        width: 210px;
        text-align: left;

        @include mediaMaxWidth(1350px) {
            width: 150px;
        }

        a {
            display: inline-block;
            height: 110px;
            img {
                padding: 20px 0 15px 0;
                max-width: 100%;

                @include mediaMaxWidth($mobileWidth) {
                    //height: 80px;
                }
            }

            @include mediaMaxWidth(1350px) {
                height: auto;

                img {
                    padding: 10px 0;
                }
            }
        }
    }

    .menu-cont, .menu-mob-btn-cont {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 210px);
        text-align: right;

        @include mediaMaxWidth(1350px) {
            width: calc(100% - 150px);
        }
    }

    .menu-mob-btn-cont {
        display: none;
        .menu-mob-btn {
            display: inline-block;
            width: 50px;
            margin: 20px 10px 10px 10px;
            cursor: pointer;

            div {
                width: 100%;
                height: 4px;
                background: $greenDarkColor;
                margin-bottom: 10px;
                transition: all 0.4s ease-out, opacity 0.2s;
            }

            .first-line, .second-line, .third-line {

            }
        }
    }

    .menu-cont {
        .site-nav {
            display: block;
            width: 100%;

            .nav-list {
                padding: 0;
                li {
                    display: inline-block;

                    a {
                        font-size: 24px;
                        font-family: $PFDinTextCompProMedium;
                        color: $brownColor;
                        text-transform: uppercase;
                        line-height: 1.2;
                        text-align: center;
                        text-decoration: none;

                        display: inline-block;
                        padding: 50px 25px 32px 25px;

                        @include transition($transitionTime);

                        @include mediaMaxWidth(1700px) {
                            padding-left: 20px;
                            padding-right: 20px;
                        }
                        @include mediaMaxWidth(1600px) {
                            padding-left: 15px;
                            padding-right: 15px;
                        }
                        @include mediaMaxWidth(1350px) {
                            padding: 40px 15px;
                        }
                        @include mediaMaxWidth($mobileWidth) {
                            padding: 15px 10px;
                        }
                    }
                    a:hover, .active {
                        color: $greenDarkColor;
                    }
                }

                .tel-info {
                    padding: 0 25px;

                    @include mediaMaxWidth(1600px) {
                        padding: 0 15px;
                    }

                    .contact-info a {
                        color: $greenDarkColor;
                    }
                    .contact-info a:before {
                        padding-right: 10px;
                        content: url("../images/icon-tel.png");

                        animation: tel-tada 5s infinite;
                    }

                    @keyframes tel-tada {
                        from {
                            -webkit-transform: scale3d(1, 1, 1);
                            transform: scale3d(1, 1, 1);
                        }

                        //10%, 20% {
                        //    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
                        //    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
                        //}
                        //
                        //30%, 50%, 70%, 90% {
                        //    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
                        //    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
                        //}
                        //
                        //40%, 60%, 80% {
                        //    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
                        //    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
                        //}

                        to {
                            -webkit-transform: scale3d(1, 1, 1);
                            transform: scale3d(1, 1, 1);
                        }
                    }
                }


            }

        }
    }

    @include mediaMaxWidth(1350px) {
        .menu-cont {
            display: block;
            width: 100%;
            .site-nav {
                display: none;
                height: 100vh;
                //display: block;
                .nav-list {
                    li {
                        display: block;
                        a {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .menu-mob-btn-cont {
            display: inline-block;
        }
    }
}

footer {
    background-color: $greenDarkColor;
    padding: 15px 0 20px 0;

    .footer-text {
        margin: 0;
        font-size: 30px;
        font-family: $PFDinTextCompProMedium;
        color: rgb(255, 255, 255);
        text-transform: none;
        line-height: 1.2;
        text-align: center;

        @include mediaMaxWidth($mobileWidth) {
            font-size: 24px;
        }
    }
}

// start of back-to-top-btn
.back-to-top {
    text-align: center;
    padding: 0;
    outline: 0;
    border: none;
    //border: 1px solid transparent;
    transition: all .4s;

    background-color: $redColor;
    cursor: pointer;

    &:hover {
        background-color: $greenDarkColor;
    }
}

.back-to-top {
    //display: none;
    width: 65px;
    height: 65px;
    opacity: 0;
    transform: translateY(150%);
    position: fixed;
    z-index: 999;
    //right: 20px;
    right: calc(7% - 65px);
    bottom: 20px;

    a {
        display: inline-block;

        .up-icon {
            position: relative;
        }
    }
}

.back-to-top-visible {
    transform: translateY(0);
    opacity: 1;
}

@include mediaMaxWidth($mobileWidth) {
    .back-to-top {
        width: 50px;
        height: 50px;
        right: 20px;
    }
}
// end of back-to-top-btn

.section-header {
    font-size: 60px;
    font-family: $PFDinTextCompProMedium;
    color: $greenDarkColor;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;

    margin: 0;
    padding: 0 0 5vh 0;

    @include transition($transitionTime);

    @include mediaMaxWidth(1600px) {
        font-size: 48px;
    }
    @include mediaMaxWidth(1200px) {
        font-size: 42px;
    }
    @include mediaMaxHeight(800px) {
        padding: 7vh 0 2vh 0;
    }
    @include mediaMaxWidth($mobileWidth) {
        font-size: 36px;
        padding: 7vh 0 2vh 0;
    }
}

.gl-btn {
    display: block;
    margin: 20px auto;
    padding: 15px 5px;
    width: 300px;
    max-width: 95%;

    font-size: 36px;
    font-family: $PFDinTextCompProMedium;

    color: $greenDarkColor;
    background-color: $yellowColor;
    border-radius: 30px;

    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    @include transition($transitionTime);

    @include mediaMaxWidth($mobileWidth) {
        font-size: 24px;
        padding: 10px 5px;
    }
}
.gl-btn:hover {
    color: #fff;
    background-color: $brownColor;
}

// start of our-product-section
#our-product-section {
    position: relative;


    .top-bg-container {
        background-position: center bottom;
        background-attachment: fixed;
        background-image: url("../images/main-bg.jpg");

        .main-container {
            height: 100%;

            padding-top: 110px;

            .full-cont {
                height: 100%;
                align-items: center;
            }
        }

        .info-cont {
            max-width: 700px;

            .main-header {
                font-size: 50px;
                font-family: $PFDinTextCompProMedium;
                color: rgb(255, 255, 255);
                line-height: 1.2;
                padding-bottom: 20px;
                //letter-spacing: 0.7px;

                @include mediaMaxWidth($mobileWidth) {
                    font-size: 36px;
                }
            }
        }
    }
}
// end of our-product-section

.image-cont {
    text-align: center;
    img {
        max-width: 100%;
    }
}


.info-text {
    font-size: 40px;
    font-family: $PFDinTextCompProRegular;
    color: $brownColor;
    //font-variant: small-caps;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 20px;

    @include mediaMaxWidth($mobileWidth) {
        font-size: 32px;
    }
}

.white-text {
    color: #fff;
}
.green-text {
    color: $greenDarkColor;
}
.brown-text {
    color: $brownColor;
}
.yellow-text {
    color: $yellowColor;
}

// start of cycles-section
#cycles-section {
    background-color: $greenLightColor;

    .cycles-container {
        padding: $sectionPadding 0;

        @include mediaMaxWidth($mobileWidth) {
            padding: $sectionPadding/2 0;
        }

        .info-cont {
            width: 80%;
            margin: 0 auto;

            @include mediaMaxWidth(992px) {
                width: 100%;
            }
        }

        .cycles-composite-img {
            img {
                @include mediaMinWidth(992px) {
                    animation: circle-rotation 20s infinite;
                }
            }

            @keyframes circle-rotation {
                0% {
                    -webkit-transform: rotate(0);
                    transform: rotate(0);
                }
                50%, 100% {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg)
                }
            }
        }

        .strawberry-img {
            padding-top: 5vh;
        }
    }

    .packages-bg {
        background-image: url("../images/packages-bg.jpg");
    }
}
// end of cycles-section

.rembek-icon-text {
    padding-top: 7vh;
    font-size: 40px;
    font-family: $PFDinTextCompProMedium;
    color: $greenDarkColor;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;

    @include mediaMaxWidth($mobileWidth) {
        font-size: 32px;
    }
}

// start of advantages-section
#advantages-section {
    padding: $sectionPadding 0;

    @include mediaMaxWidth($mobileWidth) {
        padding: $sectionPadding/2 0;
    }

    .advantages-items-cont {
        padding: 20px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .advantage-item {
            width: 25%;
            //max-width: 280px;
            padding: 0 40px;

            @include mediaMaxWidth(1200px) {
                width: 50%;

                padding-bottom: 5vh;
            }
            @include mediaMaxWidth($mobileWidth) {
                width: 100%;
            }

            .advantage-icon {
                min-height: 220px;

                img {
                    //width: 100%;
                    max-width: 100%;
                    transition: $transitionTime;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}
// end of advantages-section

// start of application-section
#application-section {
    padding: $sectionPadding 0;
    background-color: $greenLightColor;

    @include mediaMaxWidth($mobileWidth) {
        padding: $sectionPadding/2 0;
    }

    .application-items-cont {
        padding: 20px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .application-item {
            width: calc(100% / 3);
            padding: 0 40px;

            @include mediaMaxWidth(1200px) {
                width: 100%;
                padding-bottom: 5vh;
            }

            .application-icon {

                img {
                    //width: 100%;
                    max-width: 100%;
                    transition: $transitionTime;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

}
// end of application-section

// start of call-to-action-section
#call-to-action-section {
    .vegetables-bg {
        height: 75vh;
        background-image: url("../images/vegetables-bg.jpg");

        display: flex;
        flex-direction: column;
        justify-content: center;

        .container {
            max-width: 600px;
        }

        .info-cont {
            .info-text {
                span {
                    font: inherit;
                    text-transform: uppercase;
                    color: $yellowColor;
                }
            }
            .result-text {
                font-size: 60px;
            }
        }
    }
}
// end of call-to-action-section

// start of contact-us-section
#contact-us-section {
    padding: $sectionPadding 0;
    background-color: $greenLightColor;

    @include mediaMaxWidth($mobileWidth) {
        padding: $sectionPadding/2 0;
    }

    .managers-items-cont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .manager-item {
            width: calc(100% / 3);
            padding: 0 40px;

            @include mediaMaxWidth(1200px) {
                width: 50%;
            }
            @include mediaMaxWidth($mobileWidth) {
                width: 100%;
            }

            .manager-photo-cont {
                .manager-photo {
                    display: inline-block;
                    border-radius: 50%;
                    border: 20px solid $yellowColor;
                    img {
                        max-width: 100%;
                        border-radius: 50%;
                        padding: 15px;
                    }
                }
            }
            .manager-contacts {
                margin: 7vh 0 5vh 0;

                p {
                    font-size: 36px;
                    font-family: $PFDinTextCompProMedium;
                    color: $greenDarkColor;
                    line-height: 1.2;
                    text-align: center;
                    margin-bottom: 5px;

                    @include mediaMaxWidth($mobileWidth) {
                        font-size: 32px;
                    }
                }
                .manager-name {
                    font-size: 48px;

                    @include mediaMaxWidth($mobileWidth) {
                        font-size: 36px;
                    }
                }
                .manager-post {
                    text-transform: lowercase;
                    margin-bottom: 10px;
                }
                .manager-phone {

                }
            }
        }
    }
}
// end of contact-us-section

.potatos-bg {
    background-image: url("../images/potatos-bg.jpg");
    height: 40vh;
}

// start of our-contacts-section
#our-contacts-section {
    background-color: $greenLightColor;

    .full-cont {
        .rembek-contacts-cont {
            padding: $sectionPadding 0;

            @include mediaMaxWidth($mobileWidth) {
                padding: $sectionPadding/2 0;
            }

            .contacts-info-wrapper {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: flex-start;

                .contact-info-cont {
                    width: 50%;
                    padding-bottom: 30px;
                    text-align: left;

                    @include mediaMaxWidth(1300px) {
                        width: 100%;
                        text-align: center;
                    }

                    p {
                        font-size: 36px;
                        font-family: $PFDinTextCompProMedium;
                        color: $greenDarkColor;
                        line-height: 1.2;

                        @include mediaMaxWidth($mobileWidth) {
                            font-size: 32px;
                        }
                    }
                    .contact-info-title {
                        text-transform: uppercase;
                    }
                }
                .address-cont {
                    width: 60%;

                    @include mediaMaxWidth(1300px) {
                        width: 100%;
                    }
                }
            }
        }
        .map-cont {
            font-size: 0;
            iframe {
                width: 100%;
                min-height: 60vh;
                height: 100%;
            }
        }
    }
}
// end of our-contacts-section

// start of reviews-section
#reviews-section {
    padding: $sectionPadding 0;

    @include mediaMaxWidth($mobileWidth) {
        padding: $sectionPadding/2 0;
    }
}
// end of reviews-section

// start of rembek-form (general container)
.rembek-form {
    display: none;
    //display: block;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(64, 64, 64, 0.702);
    overflow: auto;

    .form-wrapper {
        min-height: 100vh;
    }

    .container {
        margin: 0;
        max-width: 800px;
    }

    .close-btn {
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
        transition: all 0.4s;

        @include mediaMaxHeight(550px) {
            top: -20px;
        }
    }
    .close-btn:hover {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .form-header {
        margin: 30px 0;
        font-size: 48px;
        font-family: $PFDinTextCompProMedium;
        color: rgb(56, 32, 32);
        text-transform: none;
        line-height: 1.2;
        text-align: center;


        @include mediaMaxHeight(550px) {
            font-size: 32px;
            margin: 15px 0;
        }
    }

    .input-cont {
        margin: 20px 10px;

        input {
            display: block;
            width: 80%;
            margin: 0 auto;
            padding: 15px 25px;

            font-size: 36px;
            font-family: $PFDinTextCompProMedium;
            color: $brownColor;
            background-color: #fff;
            text-transform: none;
            line-height: 1.2;
            text-align: center;

            border: none;
            outline: 0;
            border-radius: 30px;

            @media all and (max-height: 550px), (max-width: $mobileWidth) {
                font-size: 30px;
                padding: 5px 15px;
            }
        }
    }

    .submit-btn {
        border: none;
        outline: none;
        margin-top: 30px;
        margin-bottom: 50px;

        @include mediaMaxWidth(600px) {
            margin-top: 15px;
        }
    }
}
// end of rembek-form (general container)

input::-moz-placeholder,
input::-webkit-input-placeholder,
input:-ms-input-placeholder {
    color: #00b3ff;
}

.order-form {
    //display: block;
    .container {
        background-color: #d7d7d7;
    }
}

// start of success-form
.success-form {
    //display: block;
    background-image: url("../images/success-bg.png");

    .form-header {
        font-size: 72px;
        font-family: $PFDinTextCompProRegular;
        color: #fff;

        @include mediaMaxWidth(1200px) {
            font-size: 60px;
        }
        @include mediaMaxWidth(1000px) {
            font-size: 40px;
        }
        @include mediaMaxWidth($mobileWidth) {
            font-size: 30px;
        }
    }

    .success-close-btn {
        text-align: center;
        cursor: pointer;

        img {
            @include mediaMaxWidth($mobileWidth) {
                transform: scale(0.5);
            }
        }
    }

}
// end of success-form



