/* ---------------------- FONTS ------------------------------*/
/*font-family: 'Montserrat', sans-serif;*/
@font-face {
  font-family: "PFDinTextCompProRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/PFDinTextCompPro-Regular.ttf"); }
@font-face {
  font-family: "PFDinTextCompProMedium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/PFDinTextCompPro-Medium.otf"); }
/*************************************************************/
* {
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #fefefe; }

.container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 0; }
  @media all and (max-width: 768px) {
    .container {
      width: 95%; } }

.clearfix::after, .container::after {
  content: "";
  display: table;
  clear: both; }

.vertical-align {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.bg-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s; }
  .bg-container .dark-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(60, 60, 60, 0.5);
    z-index: 2; }

.full-cont {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }
  .full-cont .left-cont, .full-cont .right-cont {
    width: 50%; }

.menu-hidden {
  top: -120px; }

.menu-visible {
  top: 0; }

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }
  @media all and (max-width: 1600px) {
    header .container {
      width: 90%; } }
  header .logo-cont {
    display: inline-block;
    vertical-align: top;
    width: 210px;
    text-align: left; }
    header .logo-cont a {
      display: inline-block;
      height: 110px; }
      header .logo-cont a img {
        padding: 20px 0 15px 0;
        max-width: 100%; }
  header .menu-cont, header .menu-mob-btn-cont {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 210px);
    text-align: right; }
  header .menu-mob-btn-cont {
    display: none; }
    header .menu-mob-btn-cont .menu-mob-btn {
      display: inline-block;
      width: 50px;
      margin: 25px 10px 15px 10px;
      cursor: pointer; }
      header .menu-mob-btn-cont .menu-mob-btn div {
        width: 100%;
        height: 4px;
        background: #008842;
        margin-bottom: 10px;
        transition: all 0.4s ease-out, opacity 0.2s; }
  header .menu-cont .site-nav {
    display: block;
    width: 100%; }
    header .menu-cont .site-nav .nav-list {
      padding: 0; }
      header .menu-cont .site-nav .nav-list li {
        display: inline-block; }
        header .menu-cont .site-nav .nav-list li a {
          font-size: 24px;
          font-family: "PFDinTextCompProMedium", sans-serif;
          color: #45221f;
          text-transform: uppercase;
          line-height: 1.2;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          padding: 50px 25px 32px 25px;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          transition: all 0.4s; }
          @media all and (max-width: 1700px) {
            header .menu-cont .site-nav .nav-list li a {
              padding-left: 20px;
              padding-right: 20px; } }
          @media all and (max-width: 1600px) {
            header .menu-cont .site-nav .nav-list li a {
              padding-left: 15px;
              padding-right: 15px; } }
        header .menu-cont .site-nav .nav-list li a:hover, header .menu-cont .site-nav .nav-list li .active {
          color: #008842; }
      header .menu-cont .site-nav .nav-list .tel-info {
        padding: 0 25px; }
        @media all and (max-width: 1600px) {
          header .menu-cont .site-nav .nav-list .tel-info {
            padding: 0 15px; } }
        header .menu-cont .site-nav .nav-list .tel-info .contact-info a {
          color: #008842; }
        header .menu-cont .site-nav .nav-list .tel-info .contact-info a:before {
          padding-right: 10px;
          content: url("../images/icon-tel.png"); }
  @media all and (max-width: 1350px) {
    header .menu-cont {
      display: block;
      width: 100%; }
      header .menu-cont .site-nav {
        display: none;
        height: 100vh; }
        header .menu-cont .site-nav .nav-list li {
          display: block; }
          header .menu-cont .site-nav .nav-list li a {
            width: 100%; }
    header .menu-mob-btn-cont {
      display: inline-block; } }

footer {
  background-color: #008842;
  padding: 15px 0 20px 0; }
  footer .footer-text {
    margin: 0;
    font-size: 30px;
    font-family: "PFDinTextCompProMedium", sans-serif;
    color: white;
    text-transform: none;
    line-height: 1.2;
    text-align: center; }

.section-header {
  font-size: 60px;
  font-family: "PFDinTextCompProMedium", sans-serif;
  color: #008842;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding: 10vh 0 5vh 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }
  @media all and (max-width: 1600px) {
    .section-header {
      font-size: 48px; } }
  @media all and (max-width: 1200px) {
    .section-header {
      font-size: 42px; } }
  @media all and (max-height: 800px) {
    .section-header {
      padding: 7vh 0 2vh 0; } }
  @media all and (max-width: 768px) {
    .section-header {
      font-size: 30px;
      padding: 7vh 0 2vh 0; } }

.gl-btn {
  display: block;
  margin: 20px auto;
  padding: 20px 5px;
  width: 300px;
  max-width: 95%;
  font-size: 30px;
  font-family: "PFDinTextCompProMedium", sans-serif;
  color: #008842;
  background-color: #ffed00;
  border-radius: 30px;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }
  @media all and (max-width: 768px) {
    .gl-btn {
      font-size: 18px;
      padding: 10px 5px; } }

.gl-btn:hover {
  color: #fff;
  background-color: #aeaeae; }

#top-section {
  position: relative; }
  #top-section .top-bg-container {
    background-position: center bottom;
    background-attachment: fixed;
    background-image: url("../images/main-bg.jpg"); }
    #top-section .top-bg-container .main-container {
      height: 100%;
      padding-top: 110px; }
      #top-section .top-bg-container .main-container .full-cont {
        height: 100%;
        align-items: center; }
    #top-section .top-bg-container .info-cont {
      max-width: 700px; }
      #top-section .top-bg-container .info-cont .main-header {
        font-size: 50px;
        font-family: "PFDinTextCompProMedium", sans-serif;
        color: white;
        line-height: 1.2; }

#cycles-section .packages-bg {
  background-image: url("../images/packages-bg.jpg"); }

.rembek-form {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(71, 71, 71, 0.702);
  overflow: auto; }
  .rembek-form .form-wrapper {
    min-height: 100vh; }
  .rembek-form .container {
    max-width: 800px; }
  .rembek-form .close-btn {
    position: absolute;
    top: -50px;
    right: 0;
    cursor: pointer;
    transition: all 0.4s; }
    @media all and (max-height: 550px) {
      .rembek-form .close-btn {
        top: -20px; } }
  .rembek-form .close-btn:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  .rembek-form .form-header {
    margin: 30px 0;
    font-size: 36px;
    font-family: "PFDinTextCompProMedium", sans-serif;
    color: white;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center; }
    @media all and (max-height: 550px) {
      .rembek-form .form-header {
        margin: 15px 0; } }
  .rembek-form .full-cont {
    font-size: 0; }
    .rembek-form .full-cont .left-cont, .rembek-form .full-cont .right-cont {
      display: inline-block;
      width: 50%; }
      @media all and (max-width: 768px) {
        .rembek-form .full-cont .left-cont, .rembek-form .full-cont .right-cont {
          width: 100%; } }
    .rembek-form .full-cont .left-cont {
      padding-right: 1px; }
    .rembek-form .full-cont .right-cont {
      padding-left: 1px; }
    @media all and (max-width: 768px) {
      .rembek-form .full-cont .left-cont, .rembek-form .full-cont .right-cont {
        width: 100%;
        padding: 0; } }
  .rembek-form .text-field-cont {
    text-align: left; }
    .rembek-form .text-field-cont .user-text {
      height: 150px; }
      @media all and (max-height: 550px) {
        .rembek-form .text-field-cont .user-text {
          height: 120px; } }
  .rembek-form .user-name, .rembek-form .user-contact, .rembek-form .user-text {
    display: block;
    width: 100%;
    margin: 2px;
    padding: 15px 25px;
    font-size: 18px;
    font-family: "PFDinTextCompProRegular", sans-serif;
    color: black;
    text-transform: none;
    line-height: 1.2;
    text-align: left; }
    @media all and (max-height: 550px) {
      .rembek-form .user-name, .rembek-form .user-contact, .rembek-form .user-text {
        padding: 10px 15px; } }
  .rembek-form .submit-btn {
    border: none;
    outline: none;
    margin-top: 30px; }
    @media all and (max-width: 600px) {
      .rembek-form .submit-btn {
        margin-top: 15px; } }

input::-moz-placeholder,
input::-webkit-input-placeholder,
input:-ms-input-placeholder {
  color: #9fb9c6; }

.success-form {
  background-color: rgba(10, 10, 10, 0.8); }
  .success-form .form-header {
    font-size: 80px; }
    @media all and (max-width: 1200px) {
      .success-form .form-header {
        font-size: 60px; } }
    @media all and (max-width: 1000px) {
      .success-form .form-header {
        font-size: 40px; } }
    @media all and (max-width: 768px) {
      .success-form .form-header {
        font-size: 30px; } }
  .success-form .success-close-btn {
    text-align: center;
    cursor: pointer; }
    @media all and (max-width: 768px) {
      .success-form .success-close-btn img {
        transform: scale(0.5); } }

/*# sourceMappingURL=main.css.map */
