/* ---------------------- FONTS ------------------------------*/
@font-face {
  font-family: "PFDinTextCompProRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/PFDinTextCompPro-Regular.ttf"); }
@font-face {
  font-family: "PFDinTextCompProMedium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/PFDinTextCompPro-Medium.ttf"); }
/*************************************************************/
.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.4s; }

.icon-up {
  background-image: url("../images/up-icon.svg");
  width: 40px;
  height: 23px; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html, body {
  width: 100%;
  background-color: #fff;
  overflow-x: hidden; }

.scroll-lock {
  overflow-y: hidden; }

.container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 0; }
  @media all and (max-width: 768px) {
    .container {
      width: 95%; } }

.clearfix::after, .container::after {
  content: "";
  display: table;
  clear: both; }

a {
  text-decoration: none;
  color: inherit; }

.vertical-align {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.bg-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s; }
  .bg-container .dark-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(60, 60, 60, 0.5);
    z-index: 2; }

.full-cont {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }
  .full-cont .left-cont, .full-cont .right-cont {
    width: 50%; }
  @media all and (max-width: 992px) {
    .full-cont .left-cont, .full-cont .right-cont {
      width: 100%; } }

.menu-hidden {
  transform: translateY(-100%); }

.menu-visible {
  transform: translateY(0); }

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }
  @media all and (max-width: 1600px) {
    header .container {
      width: 90%; } }
  header .logo-cont {
    display: inline-block;
    vertical-align: top;
    width: 210px;
    text-align: left; }
    @media all and (max-width: 1350px) {
      header .logo-cont {
        width: 150px; } }
    header .logo-cont a {
      display: inline-block;
      height: 110px; }
      header .logo-cont a img {
        padding: 20px 0 15px 0;
        max-width: 100%; }
      @media all and (max-width: 1350px) {
        header .logo-cont a {
          height: auto; }
          header .logo-cont a img {
            padding: 10px 0; } }
  header .menu-cont, header .menu-mob-btn-cont {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 210px);
    text-align: right; }
    @media all and (max-width: 1350px) {
      header .menu-cont, header .menu-mob-btn-cont {
        width: calc(100% - 150px); } }
  header .menu-mob-btn-cont {
    display: none; }
    header .menu-mob-btn-cont .menu-mob-btn {
      display: inline-block;
      width: 50px;
      margin: 20px 10px 10px 10px;
      cursor: pointer; }
      header .menu-mob-btn-cont .menu-mob-btn div {
        width: 100%;
        height: 4px;
        background: #008842;
        margin-bottom: 10px;
        transition: all 0.4s ease-out, opacity 0.2s; }
  header .menu-cont .site-nav {
    display: block;
    width: 100%; }
    header .menu-cont .site-nav .nav-list {
      padding: 0; }
      header .menu-cont .site-nav .nav-list li {
        display: inline-block; }
        header .menu-cont .site-nav .nav-list li a {
          font-size: 24px;
          font-family: "PFDinTextCompProMedium", sans-serif;
          color: #45221f;
          text-transform: uppercase;
          line-height: 1.2;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          padding: 50px 25px 32px 25px;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          transition: all 0.4s; }
          @media all and (max-width: 1700px) {
            header .menu-cont .site-nav .nav-list li a {
              padding-left: 20px;
              padding-right: 20px; } }
          @media all and (max-width: 1600px) {
            header .menu-cont .site-nav .nav-list li a {
              padding-left: 15px;
              padding-right: 15px; } }
          @media all and (max-width: 1350px) {
            header .menu-cont .site-nav .nav-list li a {
              padding: 40px 15px; } }
          @media all and (max-width: 768px) {
            header .menu-cont .site-nav .nav-list li a {
              padding: 15px 10px; } }
        header .menu-cont .site-nav .nav-list li a:hover, header .menu-cont .site-nav .nav-list li .active {
          color: #008842; }
      header .menu-cont .site-nav .nav-list .tel-info {
        padding: 0 25px; }
        @media all and (max-width: 1600px) {
          header .menu-cont .site-nav .nav-list .tel-info {
            padding: 0 15px; } }
        header .menu-cont .site-nav .nav-list .tel-info .contact-info a {
          color: #008842; }
        header .menu-cont .site-nav .nav-list .tel-info .contact-info a:before {
          padding-right: 10px;
          content: url("../images/icon-tel.png");
          animation: tel-tada 5s infinite; }
@keyframes tel-tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
  @media all and (max-width: 1350px) {
    header .menu-cont {
      display: block;
      width: 100%; }
      header .menu-cont .site-nav {
        display: none;
        height: 100vh; }
        header .menu-cont .site-nav .nav-list li {
          display: block; }
          header .menu-cont .site-nav .nav-list li a {
            width: 100%; }
    header .menu-mob-btn-cont {
      display: inline-block; } }

footer {
  background-color: #008842;
  padding: 15px 0 20px 0; }
  footer .footer-text {
    margin: 0;
    font-size: 30px;
    font-family: "PFDinTextCompProMedium", sans-serif;
    color: white;
    text-transform: none;
    line-height: 1.2;
    text-align: center; }
    @media all and (max-width: 768px) {
      footer .footer-text {
        font-size: 24px; } }

.back-to-top {
  text-align: center;
  padding: 0;
  outline: 0;
  border: none;
  transition: all .4s;
  background-color: #aa201a;
  cursor: pointer; }
  .back-to-top:hover {
    background-color: #008842; }

.back-to-top {
  width: 65px;
  height: 65px;
  opacity: 0;
  transform: translateY(150%);
  position: fixed;
  z-index: 999;
  right: calc(7% - 65px);
  bottom: 20px; }
  .back-to-top a {
    display: inline-block; }
    .back-to-top a .up-icon {
      position: relative; }

.back-to-top-visible {
  transform: translateY(0);
  opacity: 1; }

@media all and (max-width: 768px) {
  .back-to-top {
    width: 50px;
    height: 50px;
    right: 20px; } }
.section-header {
  font-size: 60px;
  font-family: "PFDinTextCompProMedium", sans-serif;
  color: #008842;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding: 0 0 5vh 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }
  @media all and (max-width: 1600px) {
    .section-header {
      font-size: 48px; } }
  @media all and (max-width: 1200px) {
    .section-header {
      font-size: 42px; } }
  @media all and (max-height: 800px) {
    .section-header {
      padding: 7vh 0 2vh 0; } }
  @media all and (max-width: 768px) {
    .section-header {
      font-size: 36px;
      padding: 7vh 0 2vh 0; } }

.gl-btn {
  display: block;
  margin: 20px auto;
  padding: 15px 5px;
  width: 300px;
  max-width: 95%;
  font-size: 36px;
  font-family: "PFDinTextCompProMedium", sans-serif;
  color: #008842;
  background-color: #ffed00;
  border-radius: 30px;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }
  @media all and (max-width: 768px) {
    .gl-btn {
      font-size: 24px;
      padding: 10px 5px; } }

.gl-btn:hover {
  color: #fff;
  background-color: #45221f; }

#our-product-section {
  position: relative; }
  #our-product-section .top-bg-container {
    background-position: center bottom;
    background-attachment: fixed;
    background-image: url("../images/main-bg.jpg"); }
    #our-product-section .top-bg-container .main-container {
      height: 100%;
      padding-top: 110px; }
      #our-product-section .top-bg-container .main-container .full-cont {
        height: 100%;
        align-items: center; }
    #our-product-section .top-bg-container .info-cont {
      max-width: 700px; }
      #our-product-section .top-bg-container .info-cont .main-header {
        font-size: 50px;
        font-family: "PFDinTextCompProMedium", sans-serif;
        color: white;
        line-height: 1.2;
        padding-bottom: 20px; }
        @media all and (max-width: 768px) {
          #our-product-section .top-bg-container .info-cont .main-header {
            font-size: 36px; } }

.image-cont {
  text-align: center; }
  .image-cont img {
    max-width: 100%; }

.info-text {
  font-size: 40px;
  font-family: "PFDinTextCompProRegular", sans-serif;
  color: #45221f;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 20px; }
  @media all and (max-width: 768px) {
    .info-text {
      font-size: 32px; } }

.white-text {
  color: #fff; }

.green-text {
  color: #008842; }

.brown-text {
  color: #45221f; }

.yellow-text {
  color: #ffed00; }

#cycles-section {
  background-color: #dffabb; }
  #cycles-section .cycles-container {
    padding: 10vh 0; }
    @media all and (max-width: 768px) {
      #cycles-section .cycles-container {
        padding: 5vh 0; } }
    #cycles-section .cycles-container .info-cont {
      width: 80%;
      margin: 0 auto; }
      @media all and (max-width: 992px) {
        #cycles-section .cycles-container .info-cont {
          width: 100%; } }
    @media all and (min-width: 992px) {
      #cycles-section .cycles-container .cycles-composite-img img {
        animation: circle-rotation 20s infinite; } }
@keyframes circle-rotation {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50%, 100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
    #cycles-section .cycles-container .strawberry-img {
      padding-top: 5vh; }
  #cycles-section .packages-bg {
    background-image: url("../images/packages-bg.jpg"); }

.rembek-icon-text {
  padding-top: 7vh;
  font-size: 40px;
  font-family: "PFDinTextCompProMedium", sans-serif;
  color: #008842;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center; }
  @media all and (max-width: 768px) {
    .rembek-icon-text {
      font-size: 32px; } }

#advantages-section {
  padding: 10vh 0; }
  @media all and (max-width: 768px) {
    #advantages-section {
      padding: 5vh 0; } }
  #advantages-section .advantages-items-cont {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    #advantages-section .advantages-items-cont .advantage-item {
      width: 25%;
      padding: 0 40px; }
      @media all and (max-width: 1200px) {
        #advantages-section .advantages-items-cont .advantage-item {
          width: 50%;
          padding-bottom: 5vh; } }
      @media all and (max-width: 768px) {
        #advantages-section .advantages-items-cont .advantage-item {
          width: 100%; } }
      #advantages-section .advantages-items-cont .advantage-item .advantage-icon {
        min-height: 220px; }
        #advantages-section .advantages-items-cont .advantage-item .advantage-icon img {
          max-width: 100%;
          transition: 0.4s; }
          #advantages-section .advantages-items-cont .advantage-item .advantage-icon img:hover {
            transform: scale(1.1); }

#application-section {
  padding: 10vh 0;
  background-color: #dffabb; }
  @media all and (max-width: 768px) {
    #application-section {
      padding: 5vh 0; } }
  #application-section .application-items-cont {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    #application-section .application-items-cont .application-item {
      width: calc(100% / 3);
      padding: 0 40px; }
      @media all and (max-width: 1200px) {
        #application-section .application-items-cont .application-item {
          width: 100%;
          padding-bottom: 5vh; } }
      #application-section .application-items-cont .application-item .application-icon img {
        max-width: 100%;
        transition: 0.4s; }
        #application-section .application-items-cont .application-item .application-icon img:hover {
          transform: scale(1.1); }

#call-to-action-section .vegetables-bg {
  height: 75vh;
  background-image: url("../images/vegetables-bg.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #call-to-action-section .vegetables-bg .container {
    max-width: 600px; }
  #call-to-action-section .vegetables-bg .info-cont .info-text span {
    font: inherit;
    text-transform: uppercase;
    color: #ffed00; }
  #call-to-action-section .vegetables-bg .info-cont .result-text {
    font-size: 60px; }

#contact-us-section {
  padding: 10vh 0;
  background-color: #dffabb; }
  @media all and (max-width: 768px) {
    #contact-us-section {
      padding: 5vh 0; } }
  #contact-us-section .managers-items-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    #contact-us-section .managers-items-cont .manager-item {
      width: calc(100% / 3);
      padding: 0 40px; }
      @media all and (max-width: 1200px) {
        #contact-us-section .managers-items-cont .manager-item {
          width: 50%; } }
      @media all and (max-width: 768px) {
        #contact-us-section .managers-items-cont .manager-item {
          width: 100%; } }
      #contact-us-section .managers-items-cont .manager-item .manager-photo-cont .manager-photo {
        display: inline-block;
        border-radius: 50%;
        border: 20px solid #ffed00; }
        #contact-us-section .managers-items-cont .manager-item .manager-photo-cont .manager-photo img {
          max-width: 100%;
          border-radius: 50%;
          padding: 15px; }
      #contact-us-section .managers-items-cont .manager-item .manager-contacts {
        margin: 7vh 0 5vh 0; }
        #contact-us-section .managers-items-cont .manager-item .manager-contacts p {
          font-size: 36px;
          font-family: "PFDinTextCompProMedium", sans-serif;
          color: #008842;
          line-height: 1.2;
          text-align: center;
          margin-bottom: 5px; }
          @media all and (max-width: 768px) {
            #contact-us-section .managers-items-cont .manager-item .manager-contacts p {
              font-size: 32px; } }
        #contact-us-section .managers-items-cont .manager-item .manager-contacts .manager-name {
          font-size: 48px; }
          @media all and (max-width: 768px) {
            #contact-us-section .managers-items-cont .manager-item .manager-contacts .manager-name {
              font-size: 36px; } }
        #contact-us-section .managers-items-cont .manager-item .manager-contacts .manager-post {
          text-transform: lowercase;
          margin-bottom: 10px; }

.potatos-bg {
  background-image: url("../images/potatos-bg.jpg");
  height: 40vh; }

#our-contacts-section {
  background-color: #dffabb; }
  #our-contacts-section .full-cont .rembek-contacts-cont {
    padding: 10vh 0; }
    @media all and (max-width: 768px) {
      #our-contacts-section .full-cont .rembek-contacts-cont {
        padding: 5vh 0; } }
    #our-contacts-section .full-cont .rembek-contacts-cont .contacts-info-wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start; }
      #our-contacts-section .full-cont .rembek-contacts-cont .contacts-info-wrapper .contact-info-cont {
        width: 50%;
        padding-bottom: 30px;
        text-align: left; }
        @media all and (max-width: 1300px) {
          #our-contacts-section .full-cont .rembek-contacts-cont .contacts-info-wrapper .contact-info-cont {
            width: 100%;
            text-align: center; } }
        #our-contacts-section .full-cont .rembek-contacts-cont .contacts-info-wrapper .contact-info-cont p {
          font-size: 36px;
          font-family: "PFDinTextCompProMedium", sans-serif;
          color: #008842;
          line-height: 1.2; }
          @media all and (max-width: 768px) {
            #our-contacts-section .full-cont .rembek-contacts-cont .contacts-info-wrapper .contact-info-cont p {
              font-size: 32px; } }
        #our-contacts-section .full-cont .rembek-contacts-cont .contacts-info-wrapper .contact-info-cont .contact-info-title {
          text-transform: uppercase; }
      #our-contacts-section .full-cont .rembek-contacts-cont .contacts-info-wrapper .address-cont {
        width: 60%; }
        @media all and (max-width: 1300px) {
          #our-contacts-section .full-cont .rembek-contacts-cont .contacts-info-wrapper .address-cont {
            width: 100%; } }
  #our-contacts-section .full-cont .map-cont {
    font-size: 0; }
    #our-contacts-section .full-cont .map-cont iframe {
      width: 100%;
      min-height: 60vh;
      height: 100%; }

#reviews-section {
  padding: 10vh 0; }
  @media all and (max-width: 768px) {
    #reviews-section {
      padding: 5vh 0; } }

.rembek-form {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(64, 64, 64, 0.702);
  overflow: auto; }
  .rembek-form .form-wrapper {
    min-height: 100vh; }
  .rembek-form .container {
    margin: 0;
    max-width: 800px; }
  .rembek-form .close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    transition: all 0.4s; }
    @media all and (max-height: 550px) {
      .rembek-form .close-btn {
        top: -20px; } }
  .rembek-form .close-btn:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  .rembek-form .form-header {
    margin: 30px 0;
    font-size: 48px;
    font-family: "PFDinTextCompProMedium", sans-serif;
    color: #382020;
    text-transform: none;
    line-height: 1.2;
    text-align: center; }
    @media all and (max-height: 550px) {
      .rembek-form .form-header {
        font-size: 32px;
        margin: 15px 0; } }
  .rembek-form .input-cont {
    margin: 20px 10px; }
    .rembek-form .input-cont input {
      display: block;
      width: 80%;
      margin: 0 auto;
      padding: 15px 25px;
      font-size: 36px;
      font-family: "PFDinTextCompProMedium", sans-serif;
      color: #45221f;
      background-color: #fff;
      text-transform: none;
      line-height: 1.2;
      text-align: center;
      border: none;
      outline: 0;
      border-radius: 30px; }
      @media all and (max-height: 550px), (max-width: 768px) {
        .rembek-form .input-cont input {
          font-size: 30px;
          padding: 5px 15px; } }
  .rembek-form .submit-btn {
    border: none;
    outline: none;
    margin-top: 30px;
    margin-bottom: 50px; }
    @media all and (max-width: 600px) {
      .rembek-form .submit-btn {
        margin-top: 15px; } }

input::-moz-placeholder,
input::-webkit-input-placeholder,
input:-ms-input-placeholder {
  color: #00b3ff; }

.order-form .container {
  background-color: #d7d7d7; }

.success-form {
  background-image: url("../images/success-bg.png"); }
  .success-form .form-header {
    font-size: 72px;
    font-family: "PFDinTextCompProRegular", sans-serif;
    color: #fff; }
    @media all and (max-width: 1200px) {
      .success-form .form-header {
        font-size: 60px; } }
    @media all and (max-width: 1000px) {
      .success-form .form-header {
        font-size: 40px; } }
    @media all and (max-width: 768px) {
      .success-form .form-header {
        font-size: 30px; } }
  .success-form .success-close-btn {
    text-align: center;
    cursor: pointer; }
    @media all and (max-width: 768px) {
      .success-form .success-close-btn img {
        transform: scale(0.5); } }

/*# sourceMappingURL=main.css.map */
