* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;

    font-weight: normal;
    font-size: 0;
}

body, html {
    //overflow-x: hidden;
    width: 100%;
    font-size: 0;
}

.img-cont {
    font-size: 0;
    img {
        width: 100%;
    }
}

header {
    font-size: 60px;
    font-family: "Segoe UI Semibold", sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.0;
    padding: 20px 0;

    color: #fff;
    background-color: #0ae89e;

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    @media all and (max-width: 992px) {
        font-size: 30px;
    }
}

.sticky {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
}

//.sticky + .after-header-section {
//    padding-top: 100px;
//
//    @media all and (max-width: 992px) {
//        font-size: 70px;
//    }
//}

.after-header-section {
    position: relative;
}