html, body {
  padding: 0;
  margin: 0;
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  text-align: center; }

.vertical-align {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.main-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1920px; }

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100500;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #ffffff url("../images/general/preloader.gif") no-repeat center center; }

.back-to-top {
  display: block;
  position: fixed;
  z-index: 100500;
  right: 20px;
  background-color: rgba(34, 61, 98, 0.3);
  color: #fff;
  cursor: pointer;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  opacity: 1;
  bottom: 20px; }
  .back-to-top img {
    padding: 25px 20px; }
    @media screen and (max-width: 600px) {
      .back-to-top img {
        padding: 15px 10px; } }

.search-container {
  position: fixed;
  bottom: 90px;
  z-index: 100500;
  right: 20px; }
  @media screen and (max-width: 600px) {
    .search-container {
      bottom: 70px; } }
  .search-container .input-container {
    display: none;
    transition: all 0.4s; }
    .search-container .input-container input {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 100%;
      height: 67px;
      width: 30vw;
      padding: 0 20px;
      font-size: 20px;
      font-family: "Segoe UI";
      color: #f0cf16;
      background-color: #262626;
      line-height: 1.2;
      text-align: center;
      border: 0;
      outline: none; }
      @media screen and (max-width: 1000px) {
        .search-container .input-container input {
          width: 60vw; } }
      @media screen and (max-width: 600px) {
        .search-container .input-container input {
          height: 47px;
          width: 80vw;
          padding: 0 2px; } }
  .search-container .search-btn {
    display: inline-block;
    position: relative;
    top: 0;
    background-color: rgba(34, 61, 98, 0.3);
    border: none;
    outline: none;
    -webkit-transition: all .35s ease;
    transition: all .35s ease; }
    .search-container .search-btn img {
      padding: 20px; }
      @media screen and (max-width: 600px) {
        .search-container .search-btn img {
          padding: 10px; } }

.search-container:hover .input-container {
  display: block; }

.back-to-top:hover, .search-btn:hover {
  background-color: #f0cf16; }

.back-to-top-visible, .search-btn-visible {
  opacity: 1; }

.container {
  width: 80%; }

#frau-pampe .image-container {
  width: 100%;
  position: relative;
  top: 0;
  left: 0; }
  #frau-pampe .image-container .dark-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(60, 60, 60, 0.5);
    z-index: 2; }
  #frau-pampe .image-container .big-image {
    width: 100%;
    position: relative; }
  #frau-pampe .image-container .third-image .image-cont-left {
    display: inline-block;
    width: 50%; }
    #frau-pampe .image-container .third-image .image-cont-left .image-left {
      vertical-align: bottom; }
    #frau-pampe .image-container .third-image .image-cont-left .image-left-animate {
      opacity: 0;
      left: -100%;
      transition: all 1s; }
  #frau-pampe .image-container .third-image .image-cont-right {
    display: inline-block;
    width: 50%; }
    #frau-pampe .image-container .third-image .image-cont-right .image-right {
      vertical-align: bottom; }
    #frau-pampe .image-container .third-image .image-cont-right .image-right-animate {
      opacity: 0;
      left: 100%;
      transition: all 1.5s; }
  #frau-pampe .image-container .fourth-image .image-cont-left {
    display: inline-block;
    width: 50%; }
    #frau-pampe .image-container .fourth-image .image-cont-left .image-left {
      left: 10%;
      vertical-align: bottom; }
    #frau-pampe .image-container .fourth-image .image-cont-left .image-left-animate {
      opacity: 0;
      left: -100%;
      transition: all 1s; }
  #frau-pampe .image-container .fourth-image .image-cont-right {
    display: inline-block;
    width: 50%; }
    #frau-pampe .image-container .fourth-image .image-cont-right .image-right {
      vertical-align: bottom; }
    #frau-pampe .image-container .fourth-image .image-cont-right .image-right-animate {
      opacity: 0;
      left: 100%;
      transition: all 1.5s; }
  #frau-pampe .image-container .top-image-animate {
    opacity: 0;
    transition: all 2s; }
  #frau-pampe .image-container .second-image-animate {
    opacity: 0;
    transition: all 2s; }
  #frau-pampe .image-container .fourth-image-animate {
    opacity: 0;
    transition: all 2s; }
  #frau-pampe .image-container .image-animate-active {
    opacity: 1 !important;
    left: 0 !important; }
  #frau-pampe .image-container h1 {
    font-size: 80px;
    font-family: "Segoe UI";
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.004);
    position: absolute;
    top: 30%;
    z-index: 60;
    width: 100%; }
    @media all and (max-width: 1000px) {
      #frau-pampe .image-container h1 {
        font-size: 60px;
        top: 15%; } }
    @media all and (max-width: 700px) {
      #frau-pampe .image-container h1 {
        font-size: 40px;
        top: 30%; } }
    @media all and (max-width: 500px) {
      #frau-pampe .image-container h1 {
        font-size: 20px;
        top: 30%; } }
  #frau-pampe .image-container .top-title-animate {
    opacity: 0;
    transition: all 2s; }
  #frau-pampe .image-container .top-title-animate-active {
    opacity: 1; }
#frau-pampe .slider-cont {
  position: relative;
  width: 100%;
  height: calc(100vh - 10px);
  background-color: #747474;
  overflow-x: hidden; }
  #frau-pampe .slider-cont .slider {
    position: relative;
    width: 500%;
    height: calc(100vh - 10px);
    text-align: center;
    margin: 0px;
    padding: 0px;
    list-style-type: none; }
    #frau-pampe .slider-cont .slider li {
      position: absolute;
      top: 0;
      display: inline-block;
      float: left;
      width: calc(100% / 5);
      height: calc(100vh - 10px);
      font-size: 35px;
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover; }
      #frau-pampe .slider-cont .slider li .slider-dark-mask {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgba(60, 60, 60, 0.5); }
        #frau-pampe .slider-cont .slider li .slider-dark-mask h2, #frau-pampe .slider-cont .slider li .slider-dark-mask p {
          color: #fff; }
        #frau-pampe .slider-cont .slider li .slider-dark-mask h2 {
          font-size: 36px;
          font-family: "Segoe UI";
          font-weight: bold;
          line-height: 1.2;
          text-align: center;
          padding-top: 30vh;
          margin-bottom: 60px; }
          @media all and (max-width: 600px) {
            #frau-pampe .slider-cont .slider li .slider-dark-mask h2 {
              padding-top: 5vh;
              margin-bottom: 10px;
              font-size: 20px; } }
        #frau-pampe .slider-cont .slider li .slider-dark-mask p {
          font-size: 24px;
          font-family: "Segoe UI";
          font-weight: lighter;
          line-height: 1.2;
          text-align: justify; }
          @media all and (max-width: 600px) {
            #frau-pampe .slider-cont .slider li .slider-dark-mask p {
              font-size: 16px; } }
    #frau-pampe .slider-cont .slider li:nth-child(1) {
      left: -20%;
      background-image: url(../images/frau-pampe/LOGO-BIG.png); }
    #frau-pampe .slider-cont .slider li:nth-child(2) {
      left: 0;
      background-image: url(../images/frau-pampe/SLIDE.jpg); }
    #frau-pampe .slider-cont .slider li:nth-child(3) {
      left: 20%;
      background-image: url(../images/frau-pampe/Korobka-Kasha-1.png); }
    #frau-pampe .slider-cont .slider li:nth-child(4) {
      left: 40%;
      background-image: url(../images/frau-pampe/Korobka-Kasha-2.png); }
    #frau-pampe .slider-cont .slider li:nth-child(5) {
      left: 60%;
      background-image: url(../images/frau-pampe/Korobka-Kasha-3.png); }
  #frau-pampe .slider-cont .slider_left_btn, #frau-pampe .slider-cont .slider_right_btn {
    position: absolute;
    width: 75px;
    height: 145px;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 10;
    transition: all 0.4s; }
    @media screen and (max-width: 800px) {
      #frau-pampe .slider-cont .slider_left_btn, #frau-pampe .slider-cont .slider_right_btn {
        width: 38px;
        height: 72px; } }
  #frau-pampe .slider-cont .slider_left_btn {
    bottom: 50%;
    left: 2%;
    background-image: url("../images/general/slide_left_black.png"); }
    @media screen and (max-width: 800px) {
      #frau-pampe .slider-cont .slider_left_btn {
        background-image: url("../images/general/slide_left_black_mob.png"); } }
  #frau-pampe .slider-cont .slider_right_btn {
    bottom: 50%;
    right: 2%;
    background-image: url("../images/general/slide_right_black.png"); }
    @media screen and (max-width: 800px) {
      #frau-pampe .slider-cont .slider_right_btn {
        background-image: url("../images/general/slide_right_black_mob.png"); } }
  #frau-pampe .slider-cont .slider_left_btn:hover {
    background-image: url("../images/general/slide_left_yellow.png"); }
    @media screen and (max-width: 800px) {
      #frau-pampe .slider-cont .slider_left_btn:hover {
        background-image: url("../images/general/slide_left_yellow_mob.png"); } }
  #frau-pampe .slider-cont .slider_right_btn:hover {
    background-image: url("../images/general/slide_right_yellow.png"); }
    @media screen and (max-width: 800px) {
      #frau-pampe .slider-cont .slider_right_btn:hover {
        background-image: url("../images/general/slide_right_yellow_mob.png"); } }
  #frau-pampe .slider-cont .slider-nav {
    display: none;
    position: absolute;
    bottom: 10%;
    left: 50%;
    margin-left: -129px;
    z-index: 10; }
    @media screen and (min-width: 600px) {
      #frau-pampe .slider-cont .slider-nav {
        display: block; } }
    #frau-pampe .slider-cont .slider-nav .slider-nav-list li {
      display: inline-block;
      padding: 10px;
      position: relative; }
      #frau-pampe .slider-cont .slider-nav .slider-nav-list li .pagination-btn .fa {
        color: #fff;
        cursor: pointer; }
      #frau-pampe .slider-cont .slider-nav .slider-nav-list li .pagination-btn .fa-circle-thin {
        font-size: 30px; }
      #frau-pampe .slider-cont .slider-nav .slider-nav-list li .pagination-btn .fa-circle {
        font-size: 15px;
        opacity: 0;
        transition: all 0.3s; }
      #frau-pampe .slider-cont .slider-nav .slider-nav-list li .active .fa-circle, #frau-pampe .slider-cont .slider-nav .slider-nav-list li .pagination-btn:hover .fa-circle {
        opacity: 1; }
#frau-pampe .info-block-container .container {
  width: 80%;
  margin: 60px auto; }
  @media all and (max-width: 600px) {
    #frau-pampe .info-block-container .container {
      margin: 20px auto; } }
  #frau-pampe .info-block-container .container .info-left {
    width: 50%;
    float: left; }
    #frau-pampe .info-block-container .container .info-left h2 {
      font-size: 36px;
      font-family: "Segoe UI";
      color: black;
      font-weight: bold;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 20px; }
      @media all and (max-width: 600px) {
        #frau-pampe .info-block-container .container .info-left h2 {
          font-size: 20px; } }
    #frau-pampe .info-block-container .container .info-left .info-title-animate {
      position: relative;
      opacity: 0;
      transition: all 1s; }
    #frau-pampe .info-block-container .container .info-left .info-title-animate-active {
      opacity: 1; }
    @media all and (max-width: 800px) {
      #frau-pampe .info-block-container .container .info-left {
        width: 100%;
        float: none;
        margin: 0 auto; } }
  #frau-pampe .info-block-container .container .info-right {
    width: 50%;
    float: left; }
    #frau-pampe .info-block-container .container .info-right p {
      font-size: 24px;
      font-family: "Segoe UI";
      color: #969696;
      line-height: 1.2;
      text-align: justify;
      text-indent: 40px;
      opacity: 1; }
      @media all and (max-width: 600px) {
        #frau-pampe .info-block-container .container .info-right p {
          font-size: 16px; } }
    #frau-pampe .info-block-container .container .info-right .for-read-more {
      display: none; }
    #frau-pampe .info-block-container .container .info-right .for-read-more-visible {
      display: block; }
    #frau-pampe .info-block-container .container .info-right .read-more-btn {
      display: inline-block;
      font-size: 30px;
      font-family: "Segoe UI";
      color: #f0cf16;
      text-decoration: underline;
      line-height: 1.2;
      text-align: center;
      margin: 30px 0 10px 0; }
      @media all and (max-width: 600px) {
        #frau-pampe .info-block-container .container .info-right .read-more-btn {
          font-size: 20px;
          margin: 10px 0 0 0; } }
    #frau-pampe .info-block-container .container .info-right .info-text-animate {
      opacity: 0;
      transition: all 1s; }
    #frau-pampe .info-block-container .container .info-right .info-text-animate-active {
      opacity: 1; }
    @media all and (max-width: 800px) {
      #frau-pampe .info-block-container .container .info-right {
        width: 100%;
        float: none;
        margin: 0 auto; }
        #frau-pampe .info-block-container .container .info-right .read-more-btn {
          display: block; } }
#frau-pampe .concepts-info::before {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -55px;
  border: 55px solid transparent;
  border-top-color: #e7e7e7;
  z-index: 2; }
  @media all and (max-width: 800px) {
    #frau-pampe .concepts-info::before {
      margin-left: -40px;
      border-width: 40px; } }
  @media all and (max-width: 600px) {
    #frau-pampe .concepts-info::before {
      margin-left: -30px;
      border-width: 30px; } }
#frau-pampe .concepts-info {
  position: relative;
  background-color: #e7e7e7;
  padding-bottom: 140px; }
  @media all and (max-width: 800px) {
    #frau-pampe .concepts-info {
      padding-bottom: 70px; } }
  @media all and (max-width: 600px) {
    #frau-pampe .concepts-info {
      padding-bottom: 30px; } }
  #frau-pampe .concepts-info .container {
    width: 80%;
    margin: 0 auto; }
    #frau-pampe .concepts-info .container h2 {
      padding: 60px 0;
      font-size: 60px;
      font-family: "Segoe UI";
      color: black;
      font-weight: bold;
      line-height: 1.2;
      text-align: center; }
      @media all and (max-width: 800px) {
        #frau-pampe .concepts-info .container h2 {
          font-size: 36px;
          padding: 40px 0; } }
      @media all and (max-width: 600px) {
        #frau-pampe .concepts-info .container h2 {
          font-size: 20px;
          padding: 20px 0; } }
    #frau-pampe .concepts-info .container .concepts-info-title-animate {
      position: relative;
      opacity: 0;
      transition: all 1s; }
    #frau-pampe .concepts-info .container .concepts-info-title-animate-active {
      opacity: 1; }
    #frau-pampe .concepts-info .container p {
      font-size: 24px;
      font-family: "Segoe UI";
      color: black;
      line-height: 1.2;
      text-align: justify; }
      @media all and (max-width: 600px) {
        #frau-pampe .concepts-info .container p {
          font-size: 16px; } }
    #frau-pampe .concepts-info .container .concepts-info-text-animate {
      opacity: 0;
      transition: all 1s; }
    #frau-pampe .concepts-info .container .concepts-info-text-animate-active {
      opacity: 1; }
#frau-pampe .summary-header {
  padding: 150px 0;
  font-size: 36px;
  font-family: "Segoe UI";
  color: black;
  font-weight: bold;
  line-height: 1.2;
  text-align: center; }
  @media all and (max-width: 1000px) {
    #frau-pampe .summary-header {
      padding: 100px 0; } }
  @media all and (max-width: 800px) {
    #frau-pampe .summary-header {
      font-size: 24px;
      padding: 50px 0; } }
  @media all and (max-width: 600px) {
    #frau-pampe .summary-header {
      font-size: 20px;
      padding: 20px 0; } }
#frau-pampe .summary-header-animate {
  opacity: 0;
  transition: all 2s; }
#frau-pampe .summary-header-animate-active {
  opacity: 1; }
#frau-pampe .contact-us-form {
  position: relative;
  padding-bottom: 10px; }
  #frau-pampe .contact-us-form .container {
    width: 80%;
    margin: 0 auto; }
    #frau-pampe .contact-us-form .container h1 {
      padding: 70px 0;
      font-size: 60px;
      font-family: "Segoe UI";
      color: #8a3b86;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: center; }
      @media all and (max-width: 800px) {
        #frau-pampe .contact-us-form .container h1 {
          font-size: 30px;
          padding: 30px 0; } }
      @media all and (max-width: 600px) {
        #frau-pampe .contact-us-form .container h1 {
          font-size: 24px;
          padding: 20px 0; } }
    #frau-pampe .contact-us-form .container .contact-us-header-animate {
      position: relative;
      opacity: 0;
      transition: all 2s; }
    #frau-pampe .contact-us-form .container .contact-us-header-animate-active {
      opacity: 1; }
    #frau-pampe .contact-us-form .container p {
      font-size: 30px;
      font-family: "Segoe UI";
      color: black;
      line-height: 1.6;
      text-align: justify; }
      @media all and (max-width: 800px) {
        #frau-pampe .contact-us-form .container p {
          font-size: 20px;
          line-height: 1.2; } }
      @media all and (max-width: 600px) {
        #frau-pampe .contact-us-form .container p {
          font-size: 16px;
          line-height: 1.0; } }
      #frau-pampe .contact-us-form .container p span {
        color: #8a3b86;
        font-size: 30px;
        font-weight: bold; }
        @media all and (max-width: 800px) {
          #frau-pampe .contact-us-form .container p span {
            font-size: 20px; } }
        @media all and (max-width: 600px) {
          #frau-pampe .contact-us-form .container p span {
            font-size: 16px; } }
      #frau-pampe .contact-us-form .container p input {
        display: inline-block;
        width: 300px;
        font-size: 30px;
        font-family: "Segoe UI";
        text-align: center;
        color: black;
        outline: none;
        border: none;
        border-bottom: 2px solid #000; }
        @media all and (max-width: 800px) {
          #frau-pampe .contact-us-form .container p input {
            width: 200px;
            font-size: 20px; } }
        @media all and (max-width: 600px) {
          #frau-pampe .contact-us-form .container p input {
            font-size: 16px; } }
    #frau-pampe .contact-us-form .container .contact-us-content-animate {
      position: relative;
      opacity: 0;
      transition: all 2s; }
    #frau-pampe .contact-us-form .container .contact-us-content-animate-active {
      opacity: 1; }
    #frau-pampe .contact-us-form .container button {
      display: block;
      margin: 90px auto 70px auto;
      padding: 25px 82px;
      font-size: 26px;
      font-family: "Segoe UI";
      font-weight: 700;
      color: #8a3b86;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: center;
      background-color: #ffcc00;
      border: none;
      outline: none;
      cursor: pointer;
      transition: all 0.4s; }
      @media all and (max-width: 800px) {
        #frau-pampe .contact-us-form .container button {
          padding: 15px 40px;
          margin: 40px auto; } }
      @media all and (max-width: 600px) {
        #frau-pampe .contact-us-form .container button {
          padding: 15px 40px;
          margin: 20px auto;
          font-size: 20px; } }
    #frau-pampe .contact-us-form .container .submit-btn-animate {
      opacity: 0;
      transition: opacity 1s; }
    #frau-pampe .contact-us-form .container .submit-btn-animate-active {
      opacity: 1; }
    #frau-pampe .contact-us-form .container button:hover {
      color: #ffcc00;
      box-shadow: 0 100px 0 0 #000 inset; }
  #frau-pampe .contact-us-form .projects-btns-container {
    padding-top: 10px; }
    #frau-pampe .contact-us-form .projects-btns-container .left-btn, #frau-pampe .contact-us-form .projects-btns-container .right-btn {
      display: inline-block;
      width: 50%; }
      #frau-pampe .contact-us-form .projects-btns-container .left-btn .inner-cont, #frau-pampe .contact-us-form .projects-btns-container .right-btn .inner-cont {
        padding: 10px 15px; }
        #frau-pampe .contact-us-form .projects-btns-container .left-btn .inner-cont a, #frau-pampe .contact-us-form .projects-btns-container .right-btn .inner-cont a {
          display: inline-block;
          height: 40px;
          line-height: 20px;
          text-align: center;
          background-color: #607378;
          transition: all 0.4s;
          text-decoration: none;
          border-radius: 20px; }
          #frau-pampe .contact-us-form .projects-btns-container .left-btn .inner-cont a .fa, #frau-pampe .contact-us-form .projects-btns-container .right-btn .inner-cont a .fa {
            display: inline-block;
            color: white;
            font-size: 24px;
            line-height: 35px; }
          #frau-pampe .contact-us-form .projects-btns-container .left-btn .inner-cont a span, #frau-pampe .contact-us-form .projects-btns-container .right-btn .inner-cont a span {
            display: inline-block;
            color: #fff;
            font-size: 20px;
            line-height: 35px;
            padding: 0 15px;
            font-family: "Segoe UI Light"; }
            @media all and (max-width: 600px) {
              #frau-pampe .contact-us-form .projects-btns-container .left-btn .inner-cont a span, #frau-pampe .contact-us-form .projects-btns-container .right-btn .inner-cont a span {
                display: none; } }
          @media all and (max-width: 600px) {
            #frau-pampe .contact-us-form .projects-btns-container .left-btn .inner-cont a, #frau-pampe .contact-us-form .projects-btns-container .right-btn .inner-cont a {
              width: 40px; } }
    #frau-pampe .contact-us-form .projects-btns-container .left-btn:hover .inner-cont a, #frau-pampe .contact-us-form .projects-btns-container .right-btn:hover .inner-cont a {
      background-color: #4e5a5d; }
    #frau-pampe .contact-us-form .projects-btns-container .left-btn {
      text-align: left; }
      #frau-pampe .contact-us-form .projects-btns-container .left-btn .inner-cont a .fa {
        padding-left: 15px; }
        @media all and (max-width: 600px) {
          #frau-pampe .contact-us-form .projects-btns-container .left-btn .inner-cont a .fa {
            padding: 2px 16px 0 14px; } }
    #frau-pampe .contact-us-form .projects-btns-container .right-btn {
      text-align: right; }
      #frau-pampe .contact-us-form .projects-btns-container .right-btn .inner-cont a .fa {
        padding-right: 15px; }
        @media all and (max-width: 600px) {
          #frau-pampe .contact-us-form .projects-btns-container .right-btn .inner-cont a .fa {
            padding: 2px 14px 0 16px; } }
#frau-pampe .get-result-container {
  background-color: #a44699;
  padding: 40px 0; }
  @media all and (max-width: 600px) {
    #frau-pampe .get-result-container {
      padding: 20px 0; } }
  #frau-pampe .get-result-container .container {
    width: 80%;
    margin: 0 auto; }
    #frau-pampe .get-result-container .container .result-left {
      width: 70%;
      float: left;
      text-align: center; }
      #frau-pampe .get-result-container .container .result-left h2 {
        padding-top: 10px;
        font-size: 30px;
        font-family: "Segoe UI";
        color: white;
        font-weight: bold;
        line-height: 1.2;
        text-align: center; }
        @media all and (max-width: 600px) {
          #frau-pampe .get-result-container .container .result-left h2 {
            font-size: 20px; } }
      @media all and (max-width: 1000px) {
        #frau-pampe .get-result-container .container .result-left {
          width: 100%;
          float: none;
          margin: 0 auto; } }
    #frau-pampe .get-result-container .container .result-right {
      width: 30%;
      float: left;
      text-align: center; }
      #frau-pampe .get-result-container .container .result-right button {
        padding: 20px 15px;
        font-size: 20px;
        font-family: "Segoe UI";
        color: #a44699;
        background-color: #ffcc00;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all 0.4s;
        -webkit-animation: brifMove 1s 5;
        /* Safari 4.0 - 8.0 */
        animation: brifMove 1s 5;
        animation-fill-mode: both;
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
        @media all and (max-width: 600px) {
          #frau-pampe .get-result-container .container .result-right button {
            padding: 15px 10px;
            font-size: 16px; } }
@keyframes brifMove {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
      #frau-pampe .get-result-container .container .result-right button:hover {
        color: #ffcc00;
        box-shadow: 0 100px 0 0 #000 inset; }
      @media all and (max-width: 1000px) {
        #frau-pampe .get-result-container .container .result-right {
          width: 100%;
          float: none;
          margin: 30px auto 0 auto; } }
#frau-pampe .social-btns-container {
  background-color: #000; }
  #frau-pampe .social-btns-container .container {
    width: 100%;
    margin: 0 auto;
    text-align: center; }
    #frau-pampe .social-btns-container .container .like {
      margin: 0 auto;
      max-width: 60%; }
      @media only screen and (max-width: 767px) {
        #frau-pampe .social-btns-container .container .like {
          max-width: 100%; } }
      #frau-pampe .social-btns-container .container .like a {
        float: left;
        text-align: center;
        width: 20%;
        background-color: #000;
        -webkit-transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease; }
        #frau-pampe .social-btns-container .container .like a img {
          display: block;
          width: 100%;
          max-width: 100%;
          height: auto;
          transition: all 0.35s; }
      #frau-pampe .social-btns-container .container .like a:hover img {
        transform: rotate(360deg); }
      #frau-pampe .social-btns-container .container .like .fb:hover {
        background-color: #6578C6; }
      #frau-pampe .social-btns-container .container .like .gp:hover {
        background-color: #DC4A33; }
      #frau-pampe .social-btns-container .container .like .in:hover {
        background-color: #017EB4; }
      #frau-pampe .social-btns-container .container .like .tw:hover {
        background-color: #49C8F5; }
      #frau-pampe .social-btns-container .container .like .ig:hover {
        background-color: #3E739D; }

/*# sourceMappingURL=frau-pampe.css.map */
